<form
  [formGroup]="userModSettingsForm"
  class="userModSettingsForm">
  <div>{{ userModSettingsForm.value | json }}</div>
  
  <!-- TODO how to implement '?' button? make a new route for help? -->
  <div>
    <button type="button">?</button>
  </div>
  <a [routerLink]="['../']">
    Back
  </a>
  <!-- TODO does this need `type="submit"`? -->
  <button (click)="submitForm()">
    Save
  </button>

  <!-- TODO add form controls here -->

  <a [routerLink]="['../']">
    Back
  </a>
  <!-- TODO does this need `type="submit"`? -->
  <button (click)="submitForm()">
    Save
  </button>
</form>
