@import 'src/app/shared/scss/mixins';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.presetList {
  &__title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__createNew {
      margin: 4px 8px;
    }
  }

  &__items {
    @include listWrapperBaseStyles;
  }

  &Item {
    @include listItemBaseStyles;
  
    &__id {
      //
    }
  
    &__name {
      //
    }

  }

  &__expandIcon {
    cursor: pointer;
    font-size: 30px;
    transform: rotate(0deg);
    transition: transform .35s ease;

    &--expanded {
      // TODO use angular animations
      transform: rotate(180deg);
    }
  }
}
