<div class="presetList__buttons">
  <button
    mat-raised-button
    color="primary"
    (click)="toggleCreatePresetForm()"
    class="presetList__title__createNew">
    New Preset
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="expandAll()"
    class="">
    Expand All
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="collapseAll()"
    class="">
    Collapse All
  </button>
</div>

<app-preset-form
  *ngIf="showCreateForm"
  (closeForm)="toggleCreatePresetForm()">
</app-preset-form>

<ul class="presetList__items">
  <li
    *ngFor="let preset of presets"
    class="presetListItem">

    <!-- TODO update background of selected preset -->

    <div
      (click)="toggleExpanded(preset.id)"
      class="presetListItem__mainContent">
      <div class="presetListItem__id">
        {{ preset.id }}
      </div>
      <h3 class="presetListItem__title">
        {{ renderPresetName(preset) }}
      </h3>
      <app-expand-icon
        [expanded]="preset.isExpanded">
      </app-expand-icon>
    </div>

    <app-preset-form
      @expand
      *ngIf="preset.isExpanded"
      (closeForm)="toggleExpanded(preset.id)"
      [preset]="preset">
    </app-preset-form>

  </li>
</ul>
