<h2 class="presetList__title">
  <span>
    All Presets
  </span>
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="toggleCreatePresetForm()"
      class="presetList__title__createNew">
      +
    </button>
  </div>
</h2>

<app-preset-form
  *ngIf="showCreateForm"
  (closeForm)="toggleCreatePresetForm()">
</app-preset-form>

<ul class="presetList__items">
  <li
    *ngFor="let preset of presets"
    class="presetListItem">

    <!-- TODO update background of selected preset -->

    <div class="presetListItem__mainContent">
      <div class="presetListItem__id">
        {{ preset.id }}
      </div>
      <h3 class="presetListItem__name">
        {{ renderPresetName(preset) }}
      </h3>
      <app-expand-icon
        (toggle)="toggleEditPreset(preset.id)"
        [expanded]="preset.id === editPresetId">
      </app-expand-icon>
    </div>

    <app-preset-form
      @expand
      *ngIf="preset.id === editPresetId"
      (closeForm)="toggleEditPreset(preset.id)"
      [preset]="preset">
    </app-preset-form>

  </li>
</ul>
