@import 'src/app/shared/scss/mixins';

:host {
  align-items: center;
  border: 1px solid var(--borderColorPrimary);
  border-radius: 6px;
  display: flex;
  flex-basis: min-content;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2px;
  padding: 6px 2px;
  text-align: center;
}

:host-context(.colorSlider__vertical) {
  padding: 2px 6px;

  .colorSlider {
  }
}

.colorSlider {
  &__label {
    @include flex-center;
    flex-grow: 1;
    user-select: none;

    &__text {
    }

    & ::ng-deep .material-symbols-outlined {
      margin-right: 3px;
      font-size: 16px;
    }
  }

  &__input {
    // filled portion of the slider track, plus the handle
    & ::ng-deep .mat-slider-track-fill,
    & ::ng-deep .mat-slider-thumb,
    & ::ng-deep .mat-slider-thumb-label {
      // TODO control background color/gradient from TS
      background-color: var(--themeColorPrimary) !important;
    }

    // unfilled portion of the slider track
    & ::ng-deep .mat-slider-track-background {
      background-color: var(--textColorPrimary);
    }
  }

  &__display {
  }
}
