:host {
  align-items: center;
  background: var(--backgroundColorAccent);
  border: 1px solid var(--borderColorPrimary);
  border-radius: 4px;
  display: flex;
  flex-basis: min-content;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2px;
  padding: 6px 8px;
  text-align: center;
}

:host-context(.colorSlider__vertical) {
  .colorSlider {
  }
}

.colorSlider {
  &__label {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;

    &__text {
    }

    & ::ng-deep .icons {
      margin-right: 2px;
    }
  }

  &__input {
    & ::ng-deep .mat-slider-wrapper {
      background: white;
    }
  }

  &__display {
  }
}
