:host {
  align-items: center;
  border: 1px solid rgb(200,200,200);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 4px;
}

.colorSlider {
  &__label {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 6px 0 0 0;

    & ::ng-deep .icons {
      margin-right: 2px;
    }
  }

  &__input {
    //
  }

  &__display {
    //
  }
}
