@import 'src/app/shared/scss/mixins';
@import 'src/app/shared/scss/variables';

:host {
  @include main-view-container;

  & > *:not(:first-child) {
    margin-top: 14px;
  }
}

.info {
  &__title {
    margin: 8px auto;
  }

  &__buttons {
    @include flex-center;
    flex-wrap: wrap;

    & > * {
      margin: 4px;
    }
  }

  &__button {
    &__contentWrapper {
      @include flex-center;
    }

    & ::ng-deep .material-symbols-outlined {
      font-size: 20px;
      margin-right: 3px;
    }
  }

  &__flexContainer {
    $itemMargin: 10px;
    $itemMaxWidth: 500px;

    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: #{($itemMaxWidth + $itemMargin * 2) * 2 + 1};

    & > * {
      border: 1px solid var(--borderColorPrimary);
      border-radius: 6px;
      margin: $itemMargin;
      max-width: $itemMaxWidth;
      padding: 8px;
      width: 90%;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__version {
    margin: 6px 0;

    &__nickname {
      font-style: italic;
    }
  }

  &__statsList {
    $statsBorder: 1px solid var(--borderColorAccent);

    border: $statsBorder;
    display: grid;
    grid-template: auto / auto 1fr;
    margin: 8px 0;
    overflow: auto;

    & > * {
      margin: 0;
      padding: 2px 6px;
    }

    &__name,
    &__value {
      &:not(:last-of-type) {
        border-bottom: $statsBorder;
      }
    }

    &__name {
      @include flex-center;
      border-right: $statsBorder;
      max-width: 200px;
    }

    &__value {
      @include flex-center;
      max-width: 300px;
    }
  }

  &__nodes {
    &__title {
      margin: 6px 0;
    }

    &__list {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0;

      &Item {
        border: 1px solid var(--borderColorAccent);
        border-radius: 6px;
        display: grid;
        grid-template: auto / 1fr auto 1fr;
        margin: 5px;
        max-width: 420px;
        padding: 6px;
        width: 80vw;

        & > * {
          margin: 3px 6px;
        }

        &__button {
          display: flex;
        }

        &__name {
          align-items: center;
          display: flex;
        }

        &__version {
          align-items: center;
          display: flex;
          font-style: italic;
          justify-content: flex-end;
        }
      }
    }
  }

  &__developerInfo {
    & a {
      color: var(--textColorPrimary);
    }
  }
}
