<h1 class="info__title">
  WLED Info
</h1>
<div class="info__content">
  <div class="info__version">
    <span>
      v{{ versionName }}
    </span>
    <span style="font-style: italic">
      "{{ getVersionNickname() }}"
    </span>
  </div>
  <dl class="info__statsList">
    <ng-template ngFor let-infoRow [ngForOf]="infoRows">
      <dt class="info__statsList__name">
        {{ infoRow.key }}
      </dt>
      <dd class="info__statsList__value">
        {{ infoRow.value }}
      </dd>
    </ng-template>
  </dl>
</div>
<div class="info__buttons">
  <button
    *ngFor="let button of buttons"
    mat-raised-button
    color="primary"
    class="info__button"
    (click)="button.onClick()">
    <div class="info__button__contentWrapper">
      <span class="material-symbols-outlined">
        {{ button.icon }}
      </span>
      <span>
        {{ button.name }}
      </span>
    </div>
  </button>
</div>
<div class="info__developerInfo">
  <p>
    Created by Tim Stoddard (C) {{ getCurrentYear() }}
  </p>
  <p>
    Inpsired by the <a
      href="https://github.com/Aircoookie/WLED/tree/main/wled00/data"
      target="_blank">
      WLED client</a>
      created by <a
      href="https://github.com/Aircoookie" 
      target="_blank">
      Aircookie</a>!
  </p>
</div>