<div *ngIf="showHexInput">
  <input
    type="text"
    [formControl]="getFormControl()"
    (keydown)="hexEnter($event)"
    placeholder="ffffff"
    class="noslide"
    autocomplete="off"
    maxlength="8" />
  <button
    id="hexcnf"
    class="xxs btn"
    (click)="setHex()">
    <i class="icons btna-icon">
      &#xe390;
    </i>
  </button>
</div>

<p
  (click)="toggleShowHex()"
  class="labels">
  <i class="icons sel-icon">
    &#xe2b3;
  </i>
  {{ showHexInput ? 'Hide' : 'Show' }} hex input
</p>
