@import 'src/app/shared/scss/mixins';

:host {
  @include overrideMatTextInputStyles(--backgroundColorAccent);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hexInput {
  display: flex;
  flex-direction: column;

  &__inputWrapper {
    max-width: 120px;
    margin-bottom: -16px;
  }

  &__buttonWrapper {
    @include flex-center;
    padding: 4px;
  }

  &__button {
    @include flex-center;
    margin: 0;
    padding: 0;
  }

  &__showHide {
    @include flex-center;
    margin-top: 8px;
    white-space: nowrap;
  }
}
