<div
  *ngIf="showHexInput"
  class="hexInput">
  <input
    type="text"
    [formControl]="getFormControl()"
    (keydown)="hexEnter($event)"
    placeholder="ffffff"
    class="hexInput__input noslide"
    autocomplete="off"
    maxlength="8" />
  <button
    id="hexcnf"
    class="xxs btn"
    (click)="setHex()">
    <i class="icons btna-icon">
      &#xe390;
    </i>
  </button>
</div>

<!-- TODO is this needed? -->
<div
  (click)="toggleShowHex()"
  class="hexInput__showHide labels">
  <i class="icons">
    &#xe2b3;
  </i>
  {{ showHexInput ? 'Hide' : 'Show' }} hex input
</div>
