:host {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hexInput {
  display: flex;
  flex-direction: column;

  &__inputWrapper {
    max-width: 120px;
    margin-bottom: -16px;

    & ::ng-deep .mat-form-field-flex {
      padding-top: 6px !important;
      background: var(--backgroundColorAccent);
    }

    & ::ng-deep .mat-form-field-label {
      color: var(--textColorPrimary);
    }
  }

  &__buttonWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4px;
  }

  &__showHide {
    margin-top: 8px;
    white-space: nowrap;
  }
}
