<div
  *ngIf="label; else inputList"
  [ngClass]="'textInput--' + getValidityState()"
  class="textInput">
  <div class="textInput__mainContent">
    <label
      class="textInput__labelWrapper"
      [ngStyle]="{
        flexDirection: flexDirection
      }">
      <div class="textInput__label">
        {{ label }}
      </div>
      <div class="textInput__inputWrapper">
        <div
          *ngIf="prefix"
          class="textInput__prefix">
          {{ prefix }}
        </div>
    
        <div [ngTemplateOutlet]="inputList"></div>
    
        <div
          *ngIf="suffix"
          class="textInput__suffix">
          {{ suffix }}
        </div>
      </div>
    </label>
  
    <!-- TODO why doesn't tooltip open on mobile? both chrome devtools mock mobile, and my iphone safari -->
    <div
      *ngIf="description"
      [matTooltip]="description"
      matTooltipPosition="above"
      matTooltipTouchGestures="auto"
      matTooltipClass="textInput__tooltip"
      class="textInput__info">
      i
    </div>
  </div>
</div>

<ng-template #inputList>
  <div class="textInput__inputList">
    <ng-container
      *ngFor="let input of inputs"
      [ngSwitch]="input.type">
      <input
        *ngSwitchCase="'text'"
        [type]="input.type"
        [formControl]="input.getFormControl()"
        [placeholder]="input.placeholder"
        [maxlength]="input.maxLength ?? null"
        [pattern]="input.pattern ?? ''"
        [attr.inputmode]="getInputMode(input)"
        [autocomplete]="formatBoolean(input.autocomplete)"
        [ngStyle]="getNgStyle(input, true)"
        class="textInput__input textInput__input--centered">
      <!-- same as text type due to https://stackoverflow.com/questions/40176061/two-switch-case-values-in-angular -->
      <input
        *ngSwitchCase="'password'"
        [type]="input.type"
        [formControl]="input.getFormControl()"
        [placeholder]="input.placeholder"
        [maxlength]="input.maxLength ?? null"
        [pattern]="input.pattern ?? ''"
        [attr.inputmode]="getInputMode(input)"
        [autocomplete]="formatBoolean(input.autocomplete)"
        [ngStyle]="getNgStyle(input, true)"
        class="textInput__input textInput__input--centered">
      <input
        *ngSwitchCase="'number'"
        [type]="input.type"
        [min]="input.min"
        [max]="input.max"
        [step]="input.step || 1"
        [formControl]="input.getFormControl()"
        [placeholder]="input.placeholder"
        [maxlength]="input.maxLength ?? null"
        [attr.inputmode]="getInputMode(input)"
        [autocomplete]="formatBoolean(input.autocomplete)"
        [ngStyle]="getNgStyle(input, true)"
        class="textInput__input textInput__input--centered">
      <textarea
        *ngSwitchCase="'textarea'"
        [formControl]="input.getFormControl()"
        [placeholder]="input.placeholder"
        [maxlength]="input.maxLength ?? null"
        [autocomplete]="formatBoolean(input.autocomplete)"
        [ngStyle]="getNgStyle(input, false)"
        class="textInput__input">
      </textarea>
    </ng-container>
  </div>
</ng-template>
