<label
  *ngIf="label; else inputList"
  [ngClass]="'textInput--' + getValidityState()"
  class="textInput">
  <div
    class="textInput__contentWrapper"
    [ngStyle]="{
      flexDirection: flexDirection
    }">
    <div class="textInput__label">
      {{ label }}
    </div>
    <div class="textInput__inputWrapper">
      <div
        *ngIf="prefix"
        class="textInput__prefix">
        {{ prefix }}
      </div>
  
      <div [ngTemplateOutlet]="inputList"></div>
  
      <div
        *ngIf="suffix"
        class="textInput__suffix">
        {{ suffix }}
      </div>
    </div>
  </div>

  <div
    *ngIf="description"
    class="textInput__description">
    {{ description }}
  </div>
</label>

<ng-template #inputList>
  <div class="textInput__inputList">
    <ng-container
      *ngFor="let input of inputs"
      [ngSwitch]="input.type">
      <input
        *ngSwitchCase="'text'"
        [type]="input.type"
        [formControl]="input.getFormControl()"
        [placeholder]="input.placeholder"
        [pattern]="input.pattern ?? ''"
        [attr.inputmode]="getInputMode(input)"
        [ngStyle]="getNgStyle(input, true)"
        class="textInput__input textInput__input--centered">
      <!-- same as text type due to https://stackoverflow.com/questions/40176061/two-switch-case-values-in-angular -->
      <input
        *ngSwitchCase="'password'"
        [type]="input.type"
        [formControl]="input.getFormControl()"
        [placeholder]="input.placeholder"
        [pattern]="input.pattern ?? ''"
        [attr.inputmode]="getInputMode(input)"
        [ngStyle]="getNgStyle(input, true)"
        class="textInput__input textInput__input--centered">
      <input
        *ngSwitchCase="'number'"
        [type]="input.type"
        [min]="input.min"
        [max]="input.max"
        [step]="input.step"
        [formControl]="input.getFormControl()"
        [placeholder]="input.placeholder"
        [attr.inputmode]="getInputMode(input)"
        [ngStyle]="getNgStyle(input, true)"
        class="textInput__input textInput__input--centered">
      <textarea
        *ngSwitchCase="'textarea'"
        [formControl]="input.getFormControl()"
        [placeholder]="input.placeholder"
        [ngStyle]="getNgStyle(input, false)"
        class="textInput__input">
      </textarea>
    </ng-container>
  </div>
</ng-template>
