@import 'src/app/shared/scss/mixins';
@import 'src/app/shared/scss/rainbow';

:host {
  max-width: 100%;
  user-select: none;
}

.deviceSelector {
  &__main {
    @include rainbow(border-color);
    align-items: center;
    background: var(--backgroundColorAccent);
    border: 1px solid var(--borderColorPrimary);
    border-radius: 3px;
    color: var(--textColorPrimary);
    cursor: pointer;
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin: 0 5px;
    max-width: 100%;
    padding: 4px 4px 4px 10px;
    transition: background 0.2s ease;

    &:hover {
      background: var(--backgroundColorPrimary);
    }

    &--connected {
      background: var(--themeColorPrimary);
      color: black;

      &:hover {
        background: var(--themeColorAccent);
      }
    }

    &--disconnected {
      background: var(--errorColorPrimary);

      &:hover {
        background: var(--errorColorAccent);
      }
    }

    &--loading {
      @include marchingAntsBorder(1.2s);
      border-color: var(--backgroundColorPrimary);

      &:hover {
        @include marchingAntsBorder(1.2s);
      }
    }
  }

  &__selectedName {
    @include textOverflowEllipsis;
    font-weight: bold;
  }

  &__openIcon {
    @include flex-center;
    margin-left: 2px;
  }

  &__list {
    $borderRadius: 6px;
    $listMaxHeight: 70vh;
    $listMaxWidth: 420px;

    @include overlay-container;
    max-height: $listMaxHeight;
    overflow: auto;
    padding: 0;

    &Item {
      align-items: center;
      background: var(--backgroundColorPrimary);
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4px 14px;
      text-align: center;

      &:hover {
        background: var(--backgroundColorAccent);

        & .deviceSelector__listItem__name {
          text-decoration: underline;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--borderColorPrimary);
      }

      &__name {
        @include textOverflowEllipsis;
        max-width: $listMaxWidth;
        width: 75vw;
      }

      &__ipv4Address {
        color: var(--textColorAccent);
        font-style: italic;
      }
    }
  }

  // mobile layout
  @include mobile-layout {
    &__main {
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      width: 100%;
    }
  }
}
