<div
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="showList = !showList"
  [ngClass]="getContainerModifierClass()"
  class="deviceSelector__main">
  <div class="deviceSelector__selectedName">
    {{ getSelectedDeviceName() }}
  </div>
  <div class="deviceSelector__openIcon">
    <span class="material-symbols-outlined">
      expand_more
    </span>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="showList"
  [cdkConnectedOverlayPositions]="getOverlayPositions()"
  [cdkConnectedOverlayFlexibleDimensions]="true">
  <app-overlay-container [isOpen]="showList">
    <div class="deviceSelector__list">
      <div
        *ngFor="let wledIpAddress of getWledIpAddressesForDropdown()"
        (click)="setSelectedDevice(wledIpAddress)"
        [ngClass]="getListItemModifierClass(wledIpAddress)"
        class="deviceSelector__listItem">
        <div class="deviceSelector__listItem__name">
          {{ wledIpAddress.name }}
        </div>
        <div class="deviceSelector__listItem__ipv4Address">
          {{ wledIpAddress.ipv4Address }}
        </div>
      </div>
      <div class="deviceSelector__listItem">
        <a
          [routerLink]="['/', 'controls', 'settings', 'network']"
          (click)="handleAddLinkClick($event)"
          class="deviceSelector__listItem__link">
          Add New
        </a>
      </div>
    </div>
  </app-overlay-container>
</ng-template>
