@import 'src/app/shared/scss/mixins';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 8px;
}

.presetQuickLoad {
  &__title {
    margin: 4px;
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__button {
    @include flex-center;
    
    // TODO copy styles from top menu bar buttons
    border: 1px solid var(--borderColorPrimary);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin: 4px;
    padding: 4px;
    width: 40px;

    &:hover {
      background: var(--backgroundColorAccent);
    }
  }
}
