<div
  *ngIf="title"
  (click)="isExpanded = !isExpanded"
  [ngClass]="{'presetQuickLoad__header--expanded': isExpanded}"
  class="presetQuickLoad__header">
  <span
    [@expandText]="isExpanded"
    class="presetQuickLoad__title">
    {{ title }}
  </span>
  <app-expand-icon
    [@expandText]="isExpanded"
    [expanded]="isExpanded"
    class="presetQuickLoad__expandIcon">
  </app-expand-icon>
</div>
<div
  @expand
  *ngIf="isExpanded"
  class="presetQuickLoad__buttons">
  <ng-container *ngIf="presets.length > 0; else noPresetsMessage">
    <div *ngFor="let preset of presets">
      <div
        (click)="loadPreset(preset.id)"
        [ngClass]="{ 'presetQuickLoad__button--selected': preset.id === currentPresetId }"
        class="presetQuickLoad__button">
        {{ preset.quickLoadLabel }}
      </div>
    </div>
  </ng-container>
  <ng-template #noPresetsMessage>
    <div class="presetQuickLoad__noPresetsMessage">
      No Favorites yet!
    </div>
    <div class="presetQuickLoad__noPresetsMessage">
      <a
        routerLink="/presets"
        queryParamsHandling="merge"
        mat-raised-button
        color="primary">
        Create Preset
      </a>
    </div>
  </ng-template>
</div>
