@import 'src/app/shared/scss/mixins';
@import 'src/app/shared/scss/rainbow';

:host {
  @include flex-center;
  flex-direction: column;
  margin: 0 auto;
}

.presetQuickLoad {
  &__header {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
  }

  &__title {
    margin: 3px 2px;
  }

  &__expandIcon {
    margin: 3px 2px;
  }

  &__buttons {
    @include flex-center;
    margin: 0 auto;
  }

  &__button {
    @include flex-center;
    @include icon-button(40px);
    font-size: 16px;
    margin: 4px;
    padding: 4px;
  }

  &__noPresetsMessage {
    margin: 0 3px;
  }
}
