@import 'src/app/shared/scss/mixins';
@import 'src/app/shared/scss/rainbow';

:host {
  @include flex-center;
  flex-direction: column;
  margin: 0 auto;
}

.presetQuickLoad {
  &__header {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
  }

  &__title {
    //
  }

  &__expandIcon {
    //
  }

  &__buttons {
    @include flex-center;
    margin: 0 auto;
  }

  &__button {
    @include flex-center;
    
    // TODO copy styles from top menu bar buttons
    border: 1px solid var(--borderColorPrimary);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin: 4px;
    padding: 4px;
    user-select: none;
    width: 40px;

    &:hover,
    &--selected {
      background: var(--backgroundColorAccent);
    }

    &--selected {
      @include rainbow(border-color);
    }
  }

  &__noPresetsMessage {
    margin: 0 3px;
  }
}
