<form
  [formGroup]="networkSettingsForm"
  class="networkSettingsForm">
  <div>{{ networkSettingsForm.value | json }}</div>
  
  <!-- TODO save button should say "Save & Connect" -->
  <app-settings-header
    helpUrl="https://kno.wled.ge/features/settings/#wifi-settings"
    (save)="submitForm()">
  </app-settings-header>

  <h1>
    Network Settings
  </h1>

  <app-settings-group title="WLED IP Addresses">
    <app-add-device-form></app-add-device-form>
  </app-settings-group>

  <app-settings-group
    title="Wifi Connection"
    formGroupName="localNetwork">

    <div>
      Client IP: <span style="font-weight: bold;">{{ clientIpAddress }}</span>
    </div>

    <app-text-input
      label="Network Name (SSID)"
      [inputs]="[ssidInputConfig]"
      description="Leave SSID empty to not connect">
    </app-text-input>
    <app-text-input
      label="Network Password"
      [inputs]="[ssidPasswordInputConfig]">
    </app-text-input>

    <!-- TODO Add text mask/validation for IP address -->
    <!-- TODO create IP address input component? -->
    <app-text-input
      label="Static IP"
      [inputs]="[staticIpInputConfig]"
      description="Leave at 0.0.0.0 for DHCP">
    </app-text-input>
    
      <!-- TODO Add text mask for IP address -->
    <app-text-input
      label="Static gateway"
      [inputs]="[staticGatewayInputConfig]">
    </app-text-input>
    
      <!-- TODO Add text mask for IP address -->
    <app-text-input
      label="Static subnet mask"
      [inputs]="[staticSubnetMaskInputConfig]">
    </app-text-input>
    
    <app-text-input
      label="mDNS Address"
      [inputs]="[mDNSInputConfig]"
      prefix="http://"
      suffix=".local"
      description="Leave empty for no mDNS">
    </app-text-input>
  </app-settings-group>

  <app-settings-group
    title="WLED Access Point"
    formGroupName="wledAccessPoint">

    <div>
      AP IP: <span style="font-weight: bold;">{{ wledAccessPointIpAddress }}</span>
    </div>

    <app-text-input
      label="AP SSID"
      [inputs]="[apSSIDInputConfig]"
      description="Leave empty for no AP">
    </app-text-input>

    <app-checkbox
      [control]="getFormControl('wledAccessPoint.hideAPName')"
      label="Hide AP name">
    </app-checkbox>
    
    <app-text-input
      label="AP password"
      [inputs]="[apPasswordInputConfig]"
      description="Leave empty for open network">
    </app-text-input>

    <app-form-control-requirements
      [form]="networkSettingsForm"
      [requirements]="[]">
    </app-form-control-requirements>
    <!-- TODO set up requirements component -->
    <div>
      <p>Minimum length of 8</p>
    </div>

    <app-text-input
      label="AP Wifi channel"
      [inputs]="[apWifiChannelInputConfig]">
    </app-text-input>
    
    AP opens:
    <select formControlName="openAP">
      <option
        *ngFor="let option of openAPOptions"
        [value]="option.value">
        {{ option.name }}
      </option>
    </select>
  </app-settings-group>

  <app-settings-group
    title="Advanced"
    formGroupName="advanced">
    <app-checkbox
      [control]="getFormControl('advanced.disableWifiSleep')"
      label="Disable Wifi sleep">
    </app-checkbox>

    <app-warning-card>
      <p>
        Can help with connectivity issues (experimental feature).
      </p>
      <p>
        This feature increases power consumption. There is no need to enable if wifi is working correctly.
      </p>
    </app-warning-card>

    <!-- TODO find a way to test this and compare to existing app -->
    <ng-container *ngIf="hasEthernet">
      <div>Ethernet Type</div>
      <select formControlName="ethernetType">
        <option
          *ngFor="let ethernetType of ethernetTypes"
          [value]="ethernetType.value">
          {{ ethernetType.name }}
        </option>
      </select>
    </ng-container>
  </app-settings-group>

  <!-- TODO save button should say "Save & Connect" -->
  <app-settings-footer (save)="submitForm()"></app-settings-footer>
</form>
