.rgbSliders {
  ::ng-deep &__r,
  ::ng-deep &__g,
  ::ng-deep &__b {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
  }

  ::ng-deep &__r {
    color: rgb(255,0,0);
  }

  ::ng-deep &__g {
    color: rgb(0,255,0);
  }

  ::ng-deep &__b {
    color: rgb(0,0,255);
  }
}
