<app-preset-quick-load
  [presets]="getPresets()">
</app-preset-quick-load>

<app-preset-list
  [presets]="getPresets()">
</app-preset-list>

<app-preset-cycle
  [presets]="getPresets()">
</app-preset-cycle>






















<!-- <div id="putil"> -->

  <!-- create form step 1 -->
  <!-- <button
    class="btn btn-s btn-i"
    (click)="makePUtil()">
    <i class="icons btn-icon">&#xe18a;</i>
    Create preset
  </button>
  <button
    class="btn btn-s btn-i"
    (click)="makePlUtil()">
    <i class="icons btn-icon">
      &#xe139;
    </i>
    Create playlist
  </button> -->

  <!-- create form step 2.1 -->
  <!-- create preset -->
  <!-- <div class="seg pres">
    <div class="segname newseg">
      New preset
    </div>
    <div class="segin expanded">
      {{ createPresetOrPlaylist(0) }}
    </div>
  </div> -->

  <!-- create form step 2.2 -->
  <!-- create playlist -->
  <!-- <div class="seg pres">
    <div class="segname newseg">
      New playlist
    </div>
    <div
      class="segin expanded"
      id="seg100">
      {{ createPresetOrPlaylist(0, true) }}
    </div>
  </div> -->
<!-- </div> -->

<!-- <div
  *ngIf="quickLoadLabels.length > 0"
  class="preset__quickLoad">
  <p class="">Quick load</p> -->

  <!-- TODO max 4 labels per line -->
  <!-- (use flex wrap prolly) -->
  <!-- <button
    *ngFor="let key of quickLoadLabels"
    class="xxs btn psts"
    id="p{{ key.index }}qlb"
    (click)="setPreset(key.index)">
    {{ key.label }}
  </button>

  <p class="">All presets</p>
</div> -->

<!-- <div
  id="pcont"
  *ngIf="presetError">
  <div class="seg c">
    <div>
      {{ presetError.message }}
    </div>
    <ng-container *ngIf="presetError.backupString.length > 10">
      <div *ngIf="presetError.isEmpty; else backupCopyText">
        <div>
          However, there is backup preset data of a previous installation available.
        </div>
        <div>
          (Saving a preset will hide this message and overwrite the backup.)
        </div>
      </div>
      <ng-template #backupCopyText>
        <div>
          Here is a backup of the last known good state:
        </div>
        <textarea #backupString></textarea> -->
        <br> <!-- TODO -->
        <!-- <button
          class="btn btn-p"
          (click)="copyBackupJsonString()">
          Copy to clipboard
        </button>
      </ng-template>
    </ng-container>
  </div>
</div> -->

<!-- <ng-template #createForm1>
  <div class="first c">
    Playlist Entries
  </div>
  <div id="ple{{ id }}"></div>
  <label class="check revchkl">
    Shuffle
    <input
      type="checkbox"
      id="pl{{ id }}rtgl"
      (change)="plR({{ id }})"
      [checked]="playlists[id].r">
    <span class="checkmark schk"></span>
  </label>
  <label class="check revchkl">
    Repeat forever
    <input
      type="checkbox"
      id="pl{{ id }}rptgl"
      (change)="plR({{ id }})"
      [checked]="rep">
    <span class="checkmark schk"></span>
  </label>
  <div
    id="pl{{ id }}o1"
    [ngStyle]="{
      display: rep ? 'block' : 'none'
    }">
    <div class="c">
      Repeat&nbsp;
      <input
        class="noslide"
        type="number"
        id="pl{{ id }}rp"
        (input)="plR(id)"
        max="127"
        min="0"
        [value]="rep > 0 ? rep : 1">
        &nbsp;times
    </div>
    End preset:
    <br>
    <select
      class="btn sel sel-ple"
      id="pl{{ id }}selEnd"
      (change)="plR({{ id }})"
      data-val="{{ playlists[id].end
        ? playlists[id].end
        : 0 }}">
      <option value="0">
        None
      </option>
      {{ makePlSel(true) }}
      <option
        *ngFor="let preset of getPresetsList()"
        [value]="preset[0]">
        {{ getPresetNameV2(preset) }}
      </option>
    </select>
  </div>
  <button
    class="btn btn-i btn-p"
    (click)="testPl(id, this)">
    <i class="icons btn-icon">
      &#xe139;
    </i>
    Test
  </button>
</ng-template>

<ng-template #createForm2>
  <label class="check revchkl">
    Include brightness
    <input
      type="checkbox"
      id="p{{ id }}ibtgl"
      checked>
    <span class="checkmark schk"></span>
  </label>
  <label class="check revchkl">
    Save segment bounds
    <input
      type="checkbox"
      id="p{{ id }}sbtgl"
      checked>
    <span class="checkmark schk"></span>
  </label>
</ng-template>

<ng-template #something>
  <input
    type="text"
    class="ptxt noslide"
    id="p{{ id }}txt"
    autocomplete="off"
    maxlength="32"
    value="{{ (id > 0)
      ? getPresetNameById(id)
      : ''}}"
    placeholder="Enter name..." />
    <br>
  <div class="c">
    Quick load label:&nbsp;
    <input
      type="text"
      class="qltxt noslide"
      maxlength="2"
      [value]="getQuickLoadLabel(id)"
      id="p{{ id }}ql" 
      autocomplete="off" />
    </div>
  <div class="h">
    (leave empty for no Quick load button)
  </div>
  <div [ngStyle]="{
    display: (isPlaylist && id===0) ? 'none' : ''
    }">
    <label class="check revchkl">
      {{
        isPlaylist
          ? 'Show playlist editor'
          : (id > 0
            ? 'Overwrite with state'
            : 'Use current state')
      }}
      <input
        type="checkbox"
        id="p{{ id }}cstgl"
        (change)="toggleUseCurrentState(id)"
        [checked]="id===0 || isPlaylist">
      <span class="checkmark schk"></span>
    </label>
    <br>
  </div>
  <div
    class="po2"
    id="p{{ id }}o2">
    API command
    <br>
    <textarea
      class="noslide"
      id="p{{ id }}api">
    </textarea>
  </div>
  <div
    class="po1"
    id="p{{ id }}o1">
    {{ content }}
  </div>
  <div class="c">
    Save to ID&nbsp;
    <input
      class="noslide"
      id="p{{ id }}id"
      type="number"
      (input)="checkUsed(id)"
      max="250"
      min="1"
      value="{{ (id > 0)
        ? id
        : getLowestUnusedPlId() }}">
    </div>
  <div class="c">
    <button
      class="btn btn-i btn-p"
      (click)="savePlaylistOrPreset(id,isPlaylist)">
      <i
        class="icons btn-icon">
        &#xe390;
      </i>
      Save {{ isPlaylist
        ? 'playlist'
        : ((id > 0) ? 'changes' : 'preset') }}
    </button>
    <button
      *ngIf="id > 0; else cancelButton"
      class="btn btn-i btn-p"
      id="p{{ id }}del"
      (click)="deleteP(id)">
      <i
        class="icons btn-icon">
        &#xe037;
      </i>
      Delete {{ isPlaylist
        ? 'playlist'
        : 'preset' }}
    </button>
    <ng-template #cancelButton>
      <button
        class="btn btn-p"
        (click)="resetPUtil()">
        Cancel
      </button>
    </ng-template>
  </div>
  <div
    class="pwarn c"
    [ngClass]="{
      'bp': id > 0,
    }"
    id="p{{ id }}warn">
  </div>
  <div
    *ngIf="id > 0"
    class="h">
    ID {{ id }}
  </div>
</ng-template>

<ng-template #plEntry>
  <div class="plentry">
    <select
      class="btn sel sel-pl"
      (change)="setPlaylistPs(playlistId,psIndex,this)"
      data-val="{{ playlists[playlistId].ps[psIndex] }}"
      data-index="{{ psIndex }}">
      {{ makePlSel() }}
    </select>
    <button
      class="btn btn-i btn-xs btn-pl-del"
      (click)="deletePlaylist(playlistId,psIndex)">
      <i
        class="icons btn-icon">
        &#xe037;
      </i>
    </button>
    <div class="h plnl">
      Duration
    </div>
    <div class="h plnl">
      Transition
    </div>
    <div class="h pli">
      #{{ psIndex + 1}}
    </div>
    <br>
    <input
      class="noslide pln"
      type="number"
      max="6553.0"
      min="0.2"
      step="0.1"
      (input)="setPlaylistDuration(playlistId,psIndex,this)"
      [value]="playlists[playlistId].dur[psIndex] / 10.0">
    <input
      class="noslide pln"
      type="number"
      max="65.0"
      min="0.0"
      step="0.1"
      (input)="setPlaylistTransition(playlistId,psIndex,this)"
      [value]="playlists[playlistId].transition[psIndex] / 10.0"> s
    <button
      class="btn btn-i btn-xs btn-pl-add"
      (click)="addPl(playlistId,psIndex)">
      <i
        class="icons btn-icon">
        &#xe18a;
      </i>
    </button>
    <div class="hrz"></div>
  </div>
</ng-template>

<ng-template #something>
  <div
    class="seg pres"
    id="p{{ i }}o">
    <div
      *ngIf="showPresetIds"
      class="pid">
      {{ i }}
    </div>
    <div
      class="segname pname"
      (click)="setPreset(i)">
      <i
        *ngIf="isPlaylist(i)"
        class="icons btn-icon">
        &#xe139;
      </i>
      {{ getPresetNameById(i) }}
    </div>
    <i
      [ngClass]="{
        exp: expanded[i + 100]
      }"
      class="icons e-icon flr"
      id="sege{{ i + 100 }}"
      (click)="expand(i + 100)">
      &#xe395;
    </i>
    <div
      class="segin"
      id="seg{{ i + 100 }}">
    </div>
  </div>
</ng-template> -->
