<form
  [formGroup]="ledSettingsForm"
  class="ledSettingsForm">
  <div>{{ ledSettingsForm.value | json }}</div>
  
  <app-settings-header
    helpUrl="https://kno.wled.ge/features/settings/#led-settings"
    (save)="submitForm()">
  </app-settings-header>

  <h1>
    Led Settings
  </h1>

  <app-settings-group title="Hardware Settings">

    <app-text-input
      label="Total LED count"
      [inputs]="[totalLedCountInputConfig]">
    </app-text-input>

    <div>
      <p>Recommended power supply for brightest white:</p>
      <p>WS2815 12V 21A connected to LEDs</p>
    </div>
  
    <app-checkbox
      [control]="getFormControl('autoBrightnessLimit')"
      label="Enable automatic brightness limiter">
    </app-checkbox>
    <div>
      <p>Automatically limits brightness to stay close to the limit.</p>
      <p>Keep at &lt;1A if powering LEDs directly from the ESP 5V pin!</p>
      <p>If you are using an external power supply, enter its rating.</p>
      <!-- TODO -->
      <p>Current estimated usage: XXX mA</p>
    </div>

    <app-text-input
      label="Maximum current (mA)"
      [inputs]="[maxCurrentInputConfig]">
    </app-text-input>
  
    <div
      *ngIf="hasHighCurrent"
      class="">
      <p>Your power supply provides high current.</p>
      <p>To improve the safety of your setup, PLEASE USE the following:</p>
      <ol>
        <li>Thick cables</li>
        <li>Multiple power injection points</li>
        <li>A fuse</li>
      </ol>
    </div>
  
    <div>LED Voltage</div>
    <select formControlName="ledVoltage">
      <option
        *ngFor="let voltage of ledVoltageByStripType"
        [value]="voltage.value">
        {{ voltage.name }}
      </option>
    </select>
    <div>
      <p>Max current for a single LED</p>
      <p>Keep at default if you are unsure about your LED type.</p>
    </div>
  </app-settings-group>

  <app-settings-group title="LED Outputs">
    <!-- TODO add + button at top of list? -->

    <div formArrayName="ledOutputs">
      <div
        *ngFor="let ledOutput of ledOutputs.controls; let i = index"
        [formGroupName]="i"
        class="timeSettingsForm__tableRow">
        <div>{{ i + 1 }}</div>
        <button
          mat-raised-button
          color="primary"
          (click)="ledOutputs.removeAt(i)">
          X
        </button>

        Strip Type
        <select formControlName="stripType">
          <option
            *ngFor="let option of stripTypes"
            [value]="option.value">
            {{ option.name }}
          </option>
        </select>

        Color Order
        <select formControlName="colorOrder">
          <option
            *ngFor="let option of colorOrders"
            [value]="option.value">
            {{ option.name }}
          </option>
        </select>

        <!-- TODO add link to docs about pin numbers -->
        <app-text-input
          label="Pin"
          [inputs]="[ledOutputPinInputConfigs[i]]">
        </app-text-input>
        <app-text-input
          label="Start"
          [inputs]="[ledOutputStartInputConfigs[i]]">
        </app-text-input>
        <app-text-input
          label="Count"
          [inputs]="[ledOutputStartInputConfigs[i]]">
        </app-text-input>

        <app-checkbox
          [control]="getFormControl('ledOutputs.' + i + '.isReverse')"
          label="Reverse">
        </app-checkbox>

        <div *ngIf="ledOutput.get('count')!.value > 800">
          <p>TODO warning icon</p>
          <p>You might run into stability or lag issues.</p>
          <p>For best experience, use &lt;800 LEDs per pin!</p>
        </div>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="addLedOutput()"
          class="">
          +
        </button>
      </div>
    </div>

    <!-- TODO get this value from backend -->
    <div>LED Memory Usage: ### / ### B</div>
    <!-- TODO add graphic of used memory -->
    <div>[###_______]</div>

    <app-text-input
      label="Button Pin"
      [inputs]="[buttonPinInputConfig]">
    </app-text-input>

    <button (click)="clearPin('buttonPin')">
      X
    </button>

    <app-text-input
      label="IR Pin"
      [inputs]="[irPinInputConfig]">
    </app-text-input>

    <button (click)="clearPin('irPin')">
      X
    </button>

    <app-text-input
      label="Relay Pin"
      [inputs]="[relayPinInputConfig]">
    </app-text-input>

    <button (click)="clearPin('relayPin')">
      X
    </button>

    <app-checkbox
      [control]="getFormControl('activeHigh')"
      label="Active High">
    </app-checkbox>
  </app-settings-group>

  <app-settings-group title="Reboot Defaults">
    <app-checkbox
      [control]="getFormControl('turnOnAfterReboot')"
      label="Turn on after reboot">
    </app-checkbox>
  
    <!-- TODO starts at 0 or 1? -->
    <app-text-input
      label="Default Brightness on Reboot"
      [inputs]="[rebootDefaultBrightnessInputConfig]"
      description="Valid range from 0-255">
    </app-text-input>

    <app-text-input
      label="Default Preset on Reboot"
      [inputs]="[rebootDefaultPresetInputConfig]">
    </app-text-input>

    <app-checkbox
      [control]="getFormControl('setCurrentPresetAsRebootDefault')"
      label="Set current preset cycle setting as boot default">
    </app-checkbox>
  </app-settings-group>

  <app-settings-group>
    <!-- TODO are the 3 below part of reboot defaults?? -->
    <app-checkbox
      [control]="getFormControl('useGammaCorrectionForColor')"
      label="Use Gamma correction for Color (strongly recommended)">
    </app-checkbox>

    <app-checkbox
      [control]="getFormControl('useGammaCorrectionForBrightness')"
      label="Use Gamma correction for Brightness (not recommended)">
    </app-checkbox>

    <app-text-input
      label="Brightness Factor"
      [inputs]="[brightnessFactorInputConfig]"
      suffix="%">
    </app-text-input>
  </app-settings-group>

  <app-settings-group title="Transitions">
    <app-checkbox
      [control]="getFormControl('useCrossfade')"
      label="Use Crossfade">
    </app-checkbox>
  
    <app-text-input
      label="Transition Time (ms)"
      [inputs]="[transitionTimeMsInputConfig]">
    </app-text-input>
  
    <app-checkbox
      [control]="getFormControl('usePaletteTransitions')"
      label="Enable Palette Transitions">
    </app-checkbox>
  </app-settings-group>

  <app-settings-group
    title="Timer"
    formGroupName="timer">

    <app-text-input
      label="Timer Duration (mins)"
      [inputs]="[durationMinsInputConfig]">
    </app-text-input>

    <!-- TODO starts at 0 or 1? -->
    <app-text-input
      label="Target Brightness"
      [inputs]="[targetBrightnessInputConfig]"
      description="Valid range from 0-255">
    </app-text-input>

    Timer Mode
    <select formControlName="mode">
      <option
        *ngFor="let option of timerModes"
        [value]="option.value">
        {{ option.name }}
      </option>
    </select>
  </app-settings-group>

  <app-settings-group title="Advanced">
    Palette Blending
    <select formControlName="paletteBlending">
      <option
        *ngFor="let option of paletteBlendingOptions"
        [value]="option.value">
        {{ option.name }}
      </option>
    </select>

    <app-checkbox
      [control]="getFormControl('skipFirstLED')"
      label="Skip First LED">
    </app-checkbox>
  </app-settings-group>

  <app-settings-footer (save)="submitForm()"></app-settings-footer>
</form>
