<!-- <div
  id="cv"
  class="overlay">
  Loading WLED UI...
</div>
<noscript>
  <div
    class="overlay"
    style="opacity:1;">
    Sorry, WLED UI needs JavaScript!
  </div>
</noscript>
<div id="bg"></div> -->

<app-top-menu-bar class="controlsWrapper__topMenu"></app-top-menu-bar>
<router-outlet class="controlsWrapper__routerOutlet"></router-outlet>
<app-bottom-menu-bar class="controlsWrapper__bottomMenu"></app-bottom-menu-bar>

<div id="connind"></div>
<!-- TODO move toast to external location so it can be used in more than just controls component? -->
<!-- <app-toast></app-toast> -->
<!-- <div
  id="namelabel"
  (click)="toggleNodes()"></div> -->

<!-- <app-nodes
  [nodes]="">
</app-nodes> -->

<!-- <app-rover></app-rover> -->
