.colorSlots {
  border: 2px solid black;
  border-radius: 6px;
  margin: 4px 0;
  padding: 8px;

  &__slot {
    $buttonDimension: 32px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    margin: 3px 6px;
    max-height: $buttonDimension;
    max-width: $buttonDimension;
    min-height: $buttonDimension;
    min-width: $buttonDimension;
    outline: 0;

    &:hover {
      cursor: pointer;
    }

    &--selected {
      border: 3px solid gray;
    }
  }
}
