@import 'src/app/shared/scss/mixins';

.colorSlots {
  @include flex-center;
  border: 2px solid var(--borderColorPrimary);
  border-radius: 6px;
  flex-wrap: wrap;
  margin: 4px 0;
  padding: 8px;

  &__slot {
    $buttonDimension: 32px;

    @include flex-center;
    border: 1px solid var(--borderColorAccent);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 3px 6px;
    max-height: $buttonDimension;
    max-width: $buttonDimension;
    min-height: $buttonDimension;
    min-width: $buttonDimension;
    outline: 0;

    &--selected {
      border: 3px solid var(--borderColorPrimary);
    }
  }
}
