@use 'sass:math';

@import 'src/app/shared/scss/mixins';

/** Spinning effect used for "button processing" status border. */
@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

:host {
  @include overrideMatTextInputStyles(--backgroundColorAccent);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topMenuBar {
  &__row {
    &--showingSettings {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      width: 100%;

      & .topMenuBar__buttons {
        // override default styles
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 8px auto 5px;
  }

  &__buttonWrapper {
    @include forceWidth(70px);
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__button {
    $buttonSize: 40px;
    @include iconButton($buttonSize);
    margin-bottom: 2px;
    padding: 3px;
    position: relative;
    
    &:before {
      $borderWidth: 2px;
      $borderSpacing: 2px;

      animation: spin 10s linear infinite; // TODO is this ok for performance? will it use any rendering logic even with opacity 0?
      border: $borderWidth dashed var(--borderColorAccent);
      border-radius: #{math.div($buttonSize, 2) + $borderWidth + $borderSpacing};
      content: '';
      height: calc($buttonSize + $borderSpacing * 2);
      left: #{-$borderSpacing - 1 - $borderWidth};
      opacity: 0;
      position: absolute;
      top: #{-$borderSpacing - 1 - $borderWidth};
      transition: 0.25s opacity ease;
      width: calc($buttonSize + $borderSpacing * 2);
      z-index: -1;
    }

    &--processing {
      &:before {
        opacity: 1;
      }
    }

    &__icon {
      font-size: 25px;
    }

    &__text {
      font-size: 14px;
    }
  }

  &__settings {
    align-items: center;
    background: var(--backgroundColorPrimary);
    border-radius: 6px;
    display: flex;
    flex-direction: row-reverse;
    padding: 6px 10px;

    &--inOverlay {
      box-shadow: 0 0 8px 4px rgba(var(--borderColorPrimaryRgb),0.8);

      & .topMenuBar__slider {
        flex-direction: column;
      }
    }
  }

  &__slider {
    flex-direction: row;
    margin: 8px 0 8px 6px;

    @at-root ::ng-deep &__label {
      margin: 0 !important; // override default styling
    }

    @at-root ::ng-deep &__input {
      margin: -6px 0;
    }
  }

  &__transitionInput {
    // needed for overlay view (?)
    // TODO why is nonfocused text color override not working
    @include overrideMatTextInputStyles(--backgroundColorAccent);
    margin-bottom: -20px;
    max-width: 120px;
    min-width: 120px;
  }
}
