<div class="topMenuBar__buttonsWrapper">
  <div
    *ngFor="let button of buttons"
    class="topMenuBar__buttonWrapper">
    <button
      (click)="button.onClick()"
      [ngClass]="{
        'topMenuBar__button--enabled': button.enabled(),
        'topMenuBar__button--processing': getProcessingStatus(button.name) }"
      class="topMenuBar__button">
      <span class="topMenuBar__button__icon material-symbols-outlined">
        {{ button.icon }}
      </span>
    </button>
    <div
      *ngIf="showLabels"
      class="topMenuBar__button__text">
      {{ button.name }}
    </div>
  </div>

  <ng-container *ngIf="showPcModeButton && buttonValues.isPcMode">
    <!-- PC mode button: info -->
    <div class="topMenuBar__buttonWrapper">
      <button
        (click)="openInfoOverlay()"
        class="topMenuBar__button">
        <span class="topMenuBar__button__icon material-symbols-outlined">
          info
        </span>
      </button>
      <div
        *ngIf="showLabels"
        class="topMenuBar__button__text">
        Info
      </div>
    </div>

    <!-- TODO change to /controls when on settings route -->
    <!-- PC mode button: settings -->
    <div class="topMenuBar__buttonWrapper">
      <a
        [routerLink]="['/', 'controls', 'settings']"
        class="topMenuBar__button topMenuBar__button--settingsButton">
        <span class="topMenuBar__button__icon material-symbols-outlined">
          settings
        </span>
      </a>
      <div
        *ngIf="showLabels"
        class="topMenuBar__button__text">
        Settings
      </div>
    </div>
  </ng-container>

  <div
    cdkOverlayOrigin
    #settingsOverlayTrigger="cdkOverlayOrigin"
    class="
      topMenuBar__buttonWrapper
      topMenuBar__moreButton">
    <button
      (click)="toggleSettingsOpen()"
      [ngClass]="{ 'topMenuBar__button--enabled': isSettingsOverlayOpen }"
      class="topMenuBar__button">
      <span class="topMenuBar__button__icon material-symbols-outlined">
        more_vert
      </span>
    </button>
    <div
      *ngIf="showLabels"
      class="topMenuBar__button__text">
      More
    </div>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="settingsOverlayTrigger"
      [cdkConnectedOverlayOpen]="isSettingsOverlayOpen"
      [cdkConnectedOverlayPositions]="getSettingsOverlayPositions()"
      [cdkConnectedOverlayFlexibleDimensions]="true"
      [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayBackdropClass]="'topMenuBar__overlayBackdrop'"
      (backdropClick)="isSettingsOverlayOpen = false">
      <app-overlay-container
        [isOpen]="isSettingsOverlayOpen"
        [hasTopBorderRadius]="true">
        <div>
          <ng-container *ngTemplateOutlet="topMenuBarSettings"></ng-container>
        </div>
      </app-overlay-container>
    </ng-template>
  </div>
</div>

<div class="topMenuBar__deviceSelectorWrapper">
  <app-device-selector class="topMenuBar__deviceSelector">
  </app-device-selector>
</div>

<div class="topMenuBar__settingsWrapper">
  <ng-container *ngTemplateOutlet="topMenuBarSettings"></ng-container>
</div>

<div class="topMenuBar__liveViewWrapper">
  <app-live-view
    *ngIf="buttonValues.isLiveViewActive"
    class="topMenuBar__liveView">
</app-live-view>
</div>

<ng-template
  #topMenuBarSettings
  [formGroup]="topMenuBarForm">
  <app-color-slider
    [control]="topMenuBarForm.get('brightness')!"
    [min]="1"
    [max]="255"
    label="Brightness"
    labelClass="topMenuBar__slider__label"
    sliderClass="topMenuBar__slider__input"
    class="topMenuBar__slider">
  </app-color-slider>

  <div class="topMenuBar__transitionInputWrapper">
    <app-text-input
      label="Transition"
      [inputs]="[transitionInput]"
      suffix="sec"
      [hideValidity]="true">
    </app-text-input>
  </div>
</ng-template>
