<div
  [ngClass]="{ 'topMenuBar__row--showingSettings': showToggleSettingsButton }"
  class="topMenuBar__row">
  <div class="topMenuBar__buttons">
    <!-- TODO make this button its own component -->
    <div
      *ngFor="let button of buttons"
      class="topMenuBar__buttonWrapper">
      <button
        (click)="button.onClick()"
        [ngClass]="{
          'topMenuBar__button--enabled': button.enabled(),
          'topMenuBar__button--processing': getProcessingStatus(button.name) }"
        class="topMenuBar__button">
        <i
          [innerHTML]="button.icon"
          class="topMenuBar__button__icon icons">
        </i>
      </button>
      <div
        *ngIf="showLabels"
        class="topMenuBar__button__text">
        {{ button.name }}
      </div>
    </div>

    <div
      *ngIf="!showToggleSettingsButton"
      class="topMenuBar__buttonWrapper">
      <button
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (click)="toggleSettingsOpen()"
        [ngClass]="{ 'topMenuBar__button--enabled': isSettingsOpen }"
        class="topMenuBar__button">
        <!-- TODO change to ellipsis icon -->
        <i
          [innerHTML]="'&#xe2a6;'"
          class="topMenuBar__button__icon icons">
        </i>
      </button>
      <div
        *ngIf="showLabels"
        class="topMenuBar__button__text">
        More
      </div>
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isSettingsOpen"
        [cdkConnectedOverlayPositions]="getOverlayPositions()">
        <ng-container *ngTemplateOutlet="topMenuBarSettings"></ng-container>
      </ng-template>
    </div>
  </div>

  <div *ngIf="showToggleSettingsButton">
    <ng-container *ngTemplateOutlet="topMenuBarSettings"></ng-container>
  </div>
</div>

<ng-template #topMenuBarSettings>
  <div
    [formGroup]="topMenuBarForm"
    [ngClass]="{ 'topMenuBar__settings--inOverlay': !showToggleSettingsButton }"
    class="topMenuBar__settings">
    <app-color-slider
      [control]="topMenuBarForm.get('brightness')!"
      [min]="1"
      [max]="255"
      label="Brightness"
      labelClass="topMenuBar__slider__label"
      sliderClass="topMenuBar__slider__input"
      class="topMenuBar__slider">
      <!-- TODO should brightness slider icon toggle light/dark mode? -->
      <i
        class="icons slider-icon"
        (click)="toggleTheme()">
        &#xe2a6;
      </i>
    </app-color-slider>

    <mat-form-field
      appearance="fill"
      class="topMenuBar__transitionInput">
      <mat-label>Transition (s)</mat-label>
      <input
        matInput
        type="number"
        formControlName="transitionTime"
        placeholder="0.7"
        min="0"
        max="65.5"
        step="0.1"
        class="">
    </mat-form-field>

    <app-device-selector></app-device-selector>
  </div>
</ng-template>

<app-live-view *ngIf="isLiveViewActive"></app-live-view>
