@use 'sass:math';

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topMenuBar {
  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-right: auto;
    max-width: 340px;
    min-width: 300px;
    width: 90vw;
  }

  &__buttonWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  &__button {
    $buttonDimension: 40px;
    background: none;
    border: 1px solid rgb(128,128,128);
    border-radius: math.div($buttonDimension, 2);
    height: $buttonDimension;
    margin-bottom: 2px;
    padding: 3px;
    width: $buttonDimension;

    &:hover {
      background: rgb(220,220,220);
      cursor: pointer;
    }

    &--enabled {
      background: rgb(0,255,0);

      &:hover {
        background: rgb(25,220,25);
      }
    }

    &__icon {
      font-size: 25px;
    }

    &__text {
      font-size: 14px;
    }
  }

  &__slider {
    flex-direction: row;
    margin: 10px 5px;

    @at-root ::ng-deep &__input {
      margin: -6px 0;
    }
  }

  &__liveView {
    border: 1px solid rgb(128,128,128);
    border-left-width: 0;
    border-right-width: 0;
    height: 8px;
    margin-bottom: 2px;
    width: 100%;
  }
}
