@use 'sass:math';

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topMenuBar {
  &__row {
    &--showingBrightnessSlider {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      width: 100%;

      & .topMenuBar__buttons {
        // override default styles
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
  }

  &__buttonWrapper {
    $buttonWidth: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: $buttonWidth;
    min-width: $buttonWidth;
  }

  &__button {
    $buttonDimension: 40px;
    background: none;
    border: 1px solid rgb(128,128,128);
    border-radius: math.div($buttonDimension, 2);
    height: $buttonDimension;
    margin-bottom: 2px;
    padding: 3px;
    width: $buttonDimension;

    &:hover {
      background: rgb(220,220,220);
      cursor: pointer;
    }

    &--enabled {
      background: rgb(0,255,0);

      &:hover {
        background: rgb(25,220,25);
      }
    }

    &__icon {
      font-size: 25px;
    }

    &__text {
      font-size: 14px;
    }
  }

  &__slider {
    background: white;
    flex-direction: row;
    margin: 10px 5px;

    &--inOverlay {
      box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.6);
    }

    @at-root ::ng-deep &__label {
      margin: 0 !important; // override default styling
    }

    @at-root ::ng-deep &__input {
      margin: -6px 0;
    }
  }

  &__liveView {
    border: 1px solid rgb(128,128,128);
    border-left-width: 0;
    border-right-width: 0;
    height: 8px;
    margin-bottom: 2px;
    width: 100%;
  }
}
