<div class="topMenuBar__buttons">
  <div
    *ngFor="let button of getButtons()"
    class="topMenuBar__buttonWrapper">
    <button
      (click)="button.onClick()"
      [ngClass]="{ 'topMenuBar__button--enabled': button.enabled }"
      class="topMenuBar__button">
      <i
        [innerHTML]="button.icon"
        class="topMenuBar__button__icon icons">
      </i>
    </button>
    <div class="topMenuBar__button__text">
      {{ button.name }}
    </div>
  </div>
</div>

<!-- TODO move brightness slider somewhere else? -->
<app-color-slider
  [control]="brightnessControl"
  [min]="1"
  [max]="255"
  label="Brightness"
  sliderClass="topMenuBar__slider__input"
  class="topMenuBar__slider">
  <!-- TODO should brightness slider icon toggle light/dark mode? -->
  <i
    class="icons slider-icon"
    (click)="toggleTheme()">
    &#xe2a6;
  </i>
</app-color-slider>

<!-- TODO make this a canvas (?) -->
<!-- TODO wire up isLiveViewActive to ngIf -->
<iframe
  *ngIf="true"
  src="about:blank"
  class="topMenuBar__liveView">
</iframe>
