<div class="il">
  <div id="pallist" class="list">
    <app-palettes></app-palettes>
  </div>
</div>

<app-search-input></app-search-input>
<div class="palettes">
  <!-- default palette -->
  <div
    class="lstI"
    data-id="0">
    <label class="check schkl">
      &nbsp;
      <input
        type="radio"
        value="${palettes[i].id}"
        name="palette"
        onChange="setPalette()">
      <span class="radiomark schk"></span>
    </label>
    <div class="lstIcontent">
      <span class="lstIname">
        Default
      </span>
    </div>
  </div>

  <!-- loaded palettes -->
  <div
    *ngFor="let palette of palettes"
    [ngClass]="[palette.class, 'lstI', 'btn', 'fxbtn']"
    [data-id]="palette.id"
    (click)="setPalette(palette.id)">
    <label class="radio fxchkl">
      <input
        type="radio"
        [value]="palette.id"
        name="palette">
      <span class="radiomark"></span>
    </label>
    <span class="lstIname">
      {{ palette.name }}
    </span>
    <div
      class="lstIprev"
      [ngStyle]="genPalPrevCss(this.palettes[i].id)">
    </div>
  </div>
</div>
