<div class="palettes">
  <app-search-input></app-search-input>

  <div class="palettesList">
    <div
      *ngFor="let palette of sortedPalettes"
      class="palettes__radioButton"
      [ngStyle]="{ background: palette.background }">
      <label class="">
        <input
          type="radio"
          [formControl]="selectedPalette"
          [value]="palette.id">
        <span class="palettes__radioButton__text">
          {{ palette.name }}
        </span>
      </label>
    </div>
  </div>
</div>
