<form
  [formGroup]="securitySettingsForm"
  class="securitySettingsForm">
  <div>{{ securitySettingsForm.value | json }}</div>

  <app-settings-header
    helpUrl="https://github.com/Aircoookie/WLED/wiki/Settings#security-settings"
    (save)="submitForm()">
  </app-settings-header>

  <h1>
    Security Settings
  </h1>

  <app-settings-group title="Security">
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>Settings PIN</mat-label>
      <input
        matInput
        type="password"
        formControlName="settingsPin"
        class="">
    </mat-form-field>

    <p>
      Unencrypted transmission. Be prudent when selecting PIN, do NOT use your banking, door, SIM, etc. pin!
    </p>

    <app-checkbox
      [control]="getFormControl('secureWirelessUpdate')"
      label="Require password for OTA (wireless) software update">
    </app-checkbox>
    
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>OTA Update Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="otaUpdatePassword"
        class="">
    </mat-form-field>
  
    <!-- TODO add info toggle -->
    <div class="securitySettingsForm__infoToggle"></div>

    <p>
      To enable OTA, for security reasons you need to enter the correct password.
    </p>
    <p>
      <!-- TODO clarify meaning of this -->
      Your password should be changed when OTA is enabled.
    </p>
    <p>
        Disable OTA when not in use, otherwise a malicious actor can tamper with device software.
    </p>
    <p>
      Settings on this page will only be saved if OTA lock is disabled!
    </p>
    
    <app-checkbox
      [control]="getFormControl('denyWifiSettingsAccessIfLocked')"
      label="Deny access to wifi settings if locked">
    </app-checkbox>
    <app-checkbox
      [control]="getFormControl('triggerFactoryReset')"
      label="Trigger factory reset (on save)">
      <p>
        All settings and presets will be erased.
      </p>
    </app-checkbox>
  
    <div>
      This page is served via HTTP (insecure). HTTP traffic is <span style="font-weight: bold; text-decoration: underline;">unencrypted</span>. A malicious actor on the same network can intercept form data!
    </div>
  </app-settings-group>

  <app-settings-group title="Software Update">
    <a [routerLink]="['/', 'update']">
      Manual OTA Update
    </a>

    <app-checkbox
      [control]="getFormControl('enableArduinoOTA')"
      label="Enable Arduino OTA">
    </app-checkbox>
  </app-settings-group>

  <app-settings-group title="Backup and Restore">
    <div>
      <h2>
        Presets
      </h2>
      <div>
        <button
          mat-raised-button
          color="primary"
          click="downloadPresets()">
          Download
        </button>
        <button
          mat-raised-button
          color="primary"
          click="uploadPresets()">
          Upload
        </button>
      </div>
    </div>

    <div>
      <h2>
        Configuration
      </h2>
      <div>
        <button
          mat-raised-button
          color="primary"
          click="downloadConfig()">
          Download
        </button>
        <button
          mat-raised-button
          color="primary"
          click="uploadConfig()">
          Upload
        </button>
      </div>
    </div>
  </app-settings-group>

  <app-settings-group title="About">
    <!-- TODO fix link styles (no buttons) -->
    <div>
      <app-external-link
        href="https://github.com/Aircoookie/WLED"
        text="WLED">
      </app-external-link>
      Version {{ versionNumber }}
    </div>

    <div>
      WLED
      <app-external-link
        href="https://kno.wled.ge/about/contributors"
        text="Contributors">
      </app-external-link>
    </div>

    <div>
      WLED was created by
      <app-external-link
        href="https://github.com/Aircoookie"
        text="Christian Schwinne">
      </app-external-link>
      .
    </div>
  </app-settings-group>

  <app-settings-footer (save)="submitForm()"></app-settings-footer>
</form>
