@import 'src/app/shared/scss/mixins';

:host {
  display: flex;
}

.securitySettingsForm {
  @include settingsPageContainer;

  &__subGroup {
    background: var(--backgroundColorPrimaryOffset);
    border: 1px solid var(--borderColorPrimary);
    border-radius: 6px;
    padding: 10px;
    margin: 3px
  }

  &__mainWarningCard {
    margin: 6px;
  }

  &__uploadDownload {
    @include flex-center;
    flex-wrap: wrap;

    & > * {
      margin: 4px 6px;
    }

    &__wrapper {
      @include flex-center;
      flex-wrap: wrap;
    }

    &__button {
      @include flex-center;
      background: var(--materialThemePurple);
      color: var(--textColorPrimary);

      &__icon {
        margin: 2px;
      }
    }
  }
}
