@use 'sass:list';
@use 'sass:math';

@import 'src/app/shared/scss/rainbow';
@import 'src/app/shared/scss/variables';

@mixin default-background-and-text-colors {
  background: var(--backgroundColorPrimary);
  color: var(--textColorPrimary);
}

@mixin radioButtonList {
  $spacer: 10px;
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: start;
  padding: $spacer;

  &__container {
    overflow-y: auto;
  }
}

@mixin radioButtonListItem {
  // select animation
  @keyframes onSelect {
    0% { transform: scale(1); }
    35% { transform: scale(1.08); }
    100% { transform: scale(1); }
  }

  // border colors
  $normalBorderColor: var(--borderColorAccent);
  $hoverBorderColor: var(--borderColorPrimary);
  $selectedBorderColor: var(--themeColorPrimary);

  // other vars
  $grandparentSelector: &;

  align-items: center;
  border: 1px solid $normalBorderColor;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 36px;
  user-select: none;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: $hoverBorderColor;
  }

  &--selected {
    // TODO onSelect works in dev but not in prod
    // due to missing ng prefix in prod
    $selectAnimation: onSelect 0.3s cubic-bezier(.25,.75,1,1);
    @include rainbow(border-color, $otherAnimations: $selectAnimation);

    & #{$grandparentSelector}__text {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__input {
    display: none;
  }
}

@mixin iconButton($buttonDimension) {
  background: var(--backgroundColorPrimary);
  border: 1px solid var(--borderColorPrimary);
  border-radius: math.div($buttonDimension, 2);
  color: var(--textColorPrimary);
  height: $buttonDimension;
  width: $buttonDimension;

  &:hover {
    background: var(--backgroundColorAccent);
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &--enabled {
    background: var(--themeColorPrimary);
    color: var(--backgroundColorPrimary);

    &:hover {
      background: var(--themeColorAccent);
    }
  }
}

@mixin forceWidth($width) {
  max-width: $width;
  min-width: $width;
}

@mixin forceHeight($height) {
  max-height: $height;
  min-height: $height;
}

@mixin overrideMatTextInputStyles($backgroundColor) {
  & ::ng-deep .mat-form-field-flex {
    background: var($backgroundColor);
    padding-top: 6px;
  }

  // override the label color for text input fields,
  // but only when not focused, and not if the field
  // is both touched and invalid (keep default error styling)
  & ::ng-deep .mat-form-field:not(.mat-focused):not(.ng-touched.ng-invalid) .mat-form-field-label {
    color: var(--textColorPrimary);
  }

  & ::ng-deep input::placeholder,
  & ::ng-deep textarea::placeholder {
    color: var(--textColorAccent);
  }
}

@mixin listWrapperBaseStyles() {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding: 0;
  width: 90%;
}

@mixin listItemBaseStyles() {
  border: 1px solid var(--borderColorPrimary);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  user-select: none;

  &__mainContent {
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;

    &:hover {
      background-color: var(--backgroundColorAccent);
    }

    & > * {
      margin: 3px 5px;
    }
  }

  &__title {
    font-size: 22px;
    margin: 0;
    text-transform: capitalize;
  }
}

@mixin settingsPageContainer {
  align-items: center;
  background: var(--backgroundColorPrimary);
  display: flex;
  flex-direction: column;
  width: 100%;
}


// Marching ants border animation.

$antLength: 20px;
$antWidth: 2px;

@keyframes marchingAnts {
  0% {
    background-position:
      0 0,
      0 100%,
      0 0,
      100% 0;
  }
  100% {
    background-position:
      2 * $antLength 0,
      -2 * $antLength 100%,
      0 -2 * $antLength,
      100% 2 * $antLength;
  }
}

@mixin marchingAntsBorder($speed) {
  $fromColor: var(--borderColorPrimary);
  $toColor: transparent;

  animation: $speed linear marchingAnts infinite;
  background-image:
    linear-gradient(to right, $fromColor 50%, $toColor 50%),
    linear-gradient(to right, $fromColor 50%, $toColor 50%),
    linear-gradient(to bottom, $fromColor 50%, $toColor 50%),
    linear-gradient(to bottom, $fromColor 50%, $toColor 50%);
  background-position:
    0 0,
    0 100%,
    0 0,
    100% 0;
  background-repeat:
    repeat-x,
    repeat-x,
    repeat-y,
    repeat-y;
  background-size:
    $antLength $antWidth,
    $antLength $antWidth,
    $antWidth $antLength,
    $antWidth $antLength;
}

@mixin mobile-layout {
  @media (max-width: 740px) {
    @content;
  }
}

@mixin media-query-min-width($minWidth) {
  @media (min-width: $minWidth) {
    @content;
  }
}

@mixin media-query-max-width($maxWidth) {
  @media (max-width: $maxWidth) {
    @content;
  }
}

@mixin textOverflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// TODO use this everywhere
@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin standard-box-shadow-inset() {
  @include standard-box-shadow-inset-empty-sides();
}

@mixin standard-box-shadow-inset-empty-sides(
  $includeTop: true,
  $includeRight: true,
  $includeBottom: true,
  $includeLeft: true,
) {
  $positionScalar: 6px;
  $blurRadius: 6px;
  $spreadRadius: -6px;
  $transforms: ();
  $boxShadowList: ();

  @if $includeTop == true {
    $transforms: list.append($transforms, (0 1), $separator: comma)
  }
  @if $includeRight == true {
    $transforms: list.append($transforms, (-1 0), $separator: comma)
  }
  @if $includeBottom == true {
    $transforms: list.append($transforms, (0 -1), $separator: comma)
  }
  @if $includeLeft == true {
    $transforms: list.append($transforms, (1 0), $separator: comma)
  }

  @each $transform in $transforms {
    $horizontalDelta: list.nth($transform, 1);
    $verticalDelta: list.nth($transform, 2);
    $boxShadowList: list.append(
      $boxShadowList,
      (
        inset
        #{$horizontalDelta * $positionScalar}
        #{$verticalDelta * $positionScalar}
        $blurRadius
        $spreadRadius
        var(--borderColorPrimary)
      ),
      $separator: comma,
    );
  }

  box-shadow: $boxShadowList;
}

@mixin view-container-base {
  @include standard-box-shadow-inset();
  border: 1px solid var(--borderColorPrimary);
  border-radius: 6px;
}

@mixin main-view-container {
  @include view-container-base;
  margin: $mainViewEdgeSpacing;
  overflow-x: hidden;
  padding: 10px 6px;
  text-align: center;
}

@mixin overlay-backdrop {
  background: rgba(0,0,0,0.3);
}
