:root {
  // dark mode is default
  --backgroundColorPrimaryRgb: 20,20,30;
  --backgroundColorAccentRgb: 55,55,60;
  --backgroundColorAccent2Rgb: 80,80,90;
  --borderColorPrimaryRgb: 210,210,210;
  --borderColorAccentRgb: 128,128,128;
  --textColorPrimaryRgb: 240,240,240;
  --textColorAccentRgb: 150,150,150;
  --themeColorPrimaryRgb: 80,255,0;
  --themeColorAccentRgb: 50,180,0;
  --backgroundColorPrimary: rgb(var(--backgroundColorPrimaryRgb));
  --backgroundColorAccent: rgb(var(--backgroundColorAccentRgb));
  --backgroundColorAccent2: rgb(var(--backgroundColorAccent2Rgb));
  --borderColorPrimary: rgb(var(--borderColorPrimaryRgb));
  --borderColorAccent: rgb(var(--borderColorAccentRgb));
  --textColorPrimary: rgb(var(--textColorPrimaryRgb));
  --textColorAccent: rgb(var(--textColorAccentRgb));
  --themeColorPrimary: rgb(var(--themeColorPrimaryRgb));
  --themeColorAccent: rgb(var(--themeColorAccentRgb));

  // TODO add light mode palette
}
