.expandIcon {
  cursor: pointer;
  display: flex;
  font-size: 30px;
  margin: -20% auto;
  transform: rotate(0deg);
  transition: transform .35s ease;

  &--expanded {
    // TODO use angular animations
    transform: rotate(180deg);
  }
}
