<div *ngIf="showHexInput">
  <input
    type="text"
    [formControl]="hexInput"
    (keydown)="hexEnter($event)"
    class="noslide"
    autocomplete="off"
    maxlength="8" />
  <button
    id="hexcnf"
    class="xxs btn"
    (click)="fromHex()">
    <i class="icons btna-icon">
      &#xe390;
    </i>
  </button>
</div>

<p class="labels">
  <i
    class="icons sel-icon"
    (click)="tglHex()">
    &#xe2b3;
  </i>
  <!-- TODO text/icon doesn't seem to match "hex"? make this say something else? -->
  <!-- Color palette -->
  Toggle hex input
</p>
