<div
  [formGroup]="newSegmentForm"
  class="newSegment">
  <!-- <div>{{ newSegmentForm.value | json }}</div> -->

  <h2 class="newSegment__title">
    New Segment
  </h2>

  <div class="newSegment__name">
    <mat-form-field
      appearance="fill"
      class="newSegment__nameFormField">
      <mat-label>Segment Name</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Name"
        maxlength=32
        autocomplete="off"
        class="">
    </mat-form-field>
  </div>

  <div class="newSegment__numberInputs">
    <mat-form-field
      *ngFor="let numberInput of numberInputs"
      appearance="fill"
      class="newSegment__numberFormField">
      <mat-label>{{ numberInput.label }}</mat-label>
      <input
        matInput
        type="number"
        [formControlName]="numberInput.formControlName"
        [placeholder]="numberInput.placeholder"
        class="newSegment__numberInput">
    </mat-form-field>
  </div>

  <div class="newSegment__bottomButtons">
    <button
      mat-raised-button
      color="primary"
      (click)="cancel()"
      class="">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="submitForm()"
      class="">
      Submit
    </button>
  </div>
</div>
