@import 'src/app/shared/scss/mixins';

:host {
  @include overrideMatTextInputStyles(--backgroundColorPrimary);
  max-width: 450px;
  width: 90%;
}

.newSegment {
  @include segmentBaseStyles();

  > * {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4px;
  }

  &__title {
    margin: 0;
  }
}
