@import 'src/app/shared/scss/mixins';

:host {
  max-width: 100%;
}

.addDeviceForm {
  &__formGroup {
    @include flex-center;
    border: 1px solid var(--borderColorAccent);
    border-radius: 4px;
    flex-wrap: wrap;
    margin: 12px 0;
    padding: 4px 8px;

    & > * {
      margin: 4px;
    }

    & ::ng-deep mat-form-field {
      max-width: 150px;
    }
  }

  &__testSuccess,
  &__testFail {
    border-radius: 10px;
    height: 20px;
    width: 20px;
  }

  &__testSuccess {
    background: rgb(0,255,0);
  }

  &__testFail {
    background: rgb(255,0,0);
  }

  &__footer {
    display: flex;
    justify-content: center;

    & > * {
      margin: 5px;
    }
  }

  &__item {
    &__buttons {
      @include flex-center;
      flex-direction: column;

      & > * {
        margin: 3px;
      }
    }
  }
}

@include media-query-max-width(750px) {
  .addDeviceForm {
    &__formGroup {
      flex-direction: column;
    }

    &__item {
      &__buttons {
        flex-direction: row;
      }
    }
  }
}
