<app-warning-card>
  <p>
    Due to browser limitations, this web app cannot discover local WLED devices. Please use the WLED app to discover all available WLED instances. Then, enter all local WLED IP addresses discovered, below.
  </p>
  <p>
    These IP addresses are only saved in the browser. If you clear the website data you will have to re-add these.
  </p>
</app-warning-card>

<div>
  <div
    *ngFor="let ipAddressFormGroup of getFormGroups(); let i = index"
    [formGroup]="ipAddressFormGroup"
    class="addDeviceForm__formGroup">

    <app-checkbox
      [control]="getFormControlAtIndex('selected', i)"
      label="Selected">
    </app-checkbox>

    <app-text-input
      label="Name"
      [inputs]="[deviceNameInputConfigs[i]]"
      flexDirection="column">
    </app-text-input>

    <app-text-input
      label="IPv4 Address"
      [inputs]="[deviceIpAddressInputConfigs[i]]"
      flexDirection="column">
    </app-text-input>

    <div
      [ngSwitch]="ipAddressTestResults[i]"
      class="addDeviceForm__item__buttons">
      <ng-container *ngSwitchCase="true">
        <div class="addDeviceForm__testSuccess"></div>
        <button
          (click)="testWLEDIpAddress(i)"
          mat-raised-button
          color="primary"
          class="">
          Re-test
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="false">
        <div class="addDeviceForm__testFail"></div>
        <button
          (click)="testWLEDIpAddress(i)"
          mat-raised-button
          color="primary"
          class="">
          Re-test
        </button>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <button
          (click)="testWLEDIpAddress(i)"
          mat-raised-button
          color="primary"
          class="">
          Test
        </button>
      </ng-container>

      <button
        (click)="removeWLEDIpAddress(i)"
        mat-raised-button
        color="primary"
        class="">
        X
      </button>
    </div>
  </div>
  
  <div class="addDeviceForm__footer">
    <button
      (click)="addWLEDIpAddress()"
      mat-raised-button
      color="primary"
      class="">
      +
    </button>
    <button
      (click)="saveWLEDIpAddresses()"
      mat-raised-button
      color="primary"
      class="">
      Save
    </button>
  </div>
</div>
