<!-- <div id="picker" class="noslide"></div> -->
<div #colorPicker></div>

<div id="vwrap">
  <div
    class="sliderwrap il"
    id="vwrap">
    <input
      id="sliderV"
      class="noslide"
      oninput="fromV()"
      onchange="setColorByInputType(0)"
      max="100"
      min="0"
      type="range"
      value="128"
      step="any" />
    <div class="sliderdisplay"></div>
  </div>
  <br>
</div>
<div id="kwrap">
  <div class="sliderwrap il">
    <input
      id="sliderK"
      class="noslide"
      oninput="fromK()"
      onchange="setColorByInputType(0)"
      max="10091"
      min="1900"
      type="range"
      value="6550" />
    <div class="sliderdisplay"></div>
  </div>
</div>
