@mixin headerAndFooterBaseStyle() {
  align-items: center;
  background: var(--backgroundColorAccent);
  border: 1px solid var(--borderColorPrimary);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin: 6px 10px;
  max-width: 550px;
  width: 90%;

  & > * {
    padding: 12px 10px;
  }
}
