:host {
  display: flex;
  margin: 4px;
}

.searchInput {
  &__input {
    border: 1px solid rgb(128,128,128);
    border-radius: 4px;
    flex-grow: 1;
    height: 26px;
    padding: 0 10px;
  }

  &__cancelButton {
    //
  }
}
