<div
  class="wrapper"
  id="top">
  <div class="tab top">
    <div class="btnwrap">
      <button
        *ngFor="let topBarButton of topBarButtons"
        (click)="topBarButton.onClick"
        class="tgl">
        <i class="icons">
          {{ topBarButton.icon }}
        </i>
        <p class="tab-label">
          {{ topBarButton.name }}
        </p>
      </button>
    </div>
    <!-- TODO Can't bind to 'routerLink' since it isn't a known property of 'a'. -->
    <!-- <a [routerLink]="['./', 'settings']"> -->
    <a href="./settings">
      <i class="icons">
        &#xe0a2;
      </i>
      <p class="tab-label">
        Config
      </p>
    </a>
    <button
      id="buttonPcm"
      (click)="togglePcMode(true)">
      <i class="icons">
        &#xe23d;
      </i>
      <p class="tab-label">
        PC Mode
      </p>
    </button>
  </div>
  <div id="briwrap">
    <p class="hd">
      Brightness
    </p>
    <div class="il">
      <i
        class="icons slider-icon"
        (click)="toggleTheme()">
        &#xe2a6;
      </i>
      <app-color-slider
        [control]="brightnessControl"
        [min]="1"
        [max]="255"
        class="noslide">
      </app-color-slider>
    </div>
  </div>

  <!-- TODO make this a canvas -->
  <iframe
    id="liveview"
    src="about:blank">
  </iframe>
</div>
