<div class="topMenuBar__buttons">
  <button
    *ngFor="let topBarButton of topBarButtons"
    (click)="topBarButton.onClick()"
    class="topMenuBar__button">
    <i class="icons">
      {{ topBarButton.icon }}
    </i>
    <span class="topMenuBar__button__text">
      {{ topBarButton.name }}
    </span>
  </button>
  <button
    (click)="togglePcMode(true)"
    class="topMenuBar__button">
    <i class="icons">
      &#xe23d;
    </i>
    <span class="topMenuBar__button__text">
      PC Mode
    </span>
  </button>
</div>

<!-- TODO move brightness slider somewhere else? -->
<app-color-slider
  [control]="brightnessControl"
  [min]="1"
  [max]="255"
  label="Brightness"
  class="noslide">
  <i
    class="icons slider-icon"
    (click)="toggleTheme()">
    &#xe2a6;
  </i>
</app-color-slider>

<!-- TODO make this a canvas (?) -->
<iframe
  src="about:blank"
  [ngClass]="{ 'topMenuBar__liveView--hidden': !isLiveViewActive }"
  class="topMenuBar__liveView">
</iframe>
