<ul class="segmentList">
  <li
    *ngFor="let segment of segments; let i = index"
    [formGroup]="getFormGroupBySegmentId(segment.id)"
    class="segmentListItem">

    <div class="segmentListItem__mainContent">
      <app-checkbox
        [control]="getFormControl(segment.id, 'isSelected')"
        label=""
        [ngClass]="{ 'segmentListItem__upperLeft--expanded': segment.isExpanded }"
        class="segmentListItem__upperLeft">
      </app-checkbox>
  
      <h3
        (click)="selectOnlySegment(segment.id, $event)"
        class="segmentListItem__title">
        {{ segment.name }}
      </h3>
  
      <app-expand-icon
        (click)="toggleExpanded(segment.id)"
        [expanded]="segment.isExpanded"
        [ngClass]="{ 'segmentListItem__upperRight--expanded': segment.isExpanded }"
        class="segmentListItem__upperRight">
      </app-expand-icon>
    </div>

    <app-segment-form
      @expand
      *ngIf="segment.isExpanded"
      (closeForm)="toggleExpanded(segment.id)"
      [segment]="segment">
    </app-segment-form>
  </li>
</ul>
