<ul class="segmentList">
  <li
    *ngFor="let segment of segments; let i = index"
    [formGroup]="getFormGroupBySegmentId(segment.id)"
    class="segmentListItem">

    <div
      (click)="toggleExpanded(segment.id)"
      class="segmentListItem__mainContent">
      <!-- TODO stop propagation on click -->
      <app-checkbox
        [control]="getFormControl(segment.id, 'isSelected')"
        label="">
      </app-checkbox>
  
      <h3
        (click)="selectOnlySegment(segment.id, $event)"
        class="segmentListItem__title">
        {{ segment.name }}
      </h3>
  
      <app-expand-icon
        [expanded]="segment.isExpanded">
      </app-expand-icon>
    </div>

    <app-segment-form
      @expand
      *ngIf="segment.isExpanded"
      (closeForm)="toggleExpanded(segment.id)"
      [segment]="segment">
    </app-segment-form>
  </li>
</ul>
