<ul class="segmentList">
  <li
    *ngFor="let segment of segments; let i = index"
    [formGroup]="segmentFormGroupMap[segment.id]"
    class="segmentListItem">

    <div
      (click)="toggleExpanded(segment.id)"
      class="segmentListItem__mainContent">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        formControlName="isSelected"
        class="">
      </mat-checkbox>
  
      <h3
        (click)="selectOnlySegment(segment.id, $event)"
        class="segmentListItem__title">
        {{ segment.name }}
      </h3>
  
      <app-expand-icon
        [expanded]="segment.isExpanded">
      </app-expand-icon>
    </div>

    <app-segment-form
      @expand
      *ngIf="segment.isExpanded"
      (closeForm)="toggleExpanded(segment.id)"
      [segment]="segment">
    </app-segment-form>
  </li>
</ul>
