@import 'src/app/shared/scss/mixins';

.effectsSettings {
  &__header {
    margin-bottom: 12px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    grid-area: 2 / 1 / 3 / 2;
    justify-content: space-evenly;

    &__section {
      border: 1px solid var(--borderColorAccent);
      border-radius: 6px;
      padding: 6px;
      margin: 3px;
    }

    &__sectionTitle {
      @include flex-center;
      margin: 4px 0 10px 0;
    }
  }
}
