@import 'src/app/shared/scss/mixins';

$buttonDimension: 42px;
$buttonMargin: 4px;
$buttonsPerRow: 4;
// add 20 for padding, add 2 as a division error buffer (1px per side)
$buttonWidth: #{($buttonDimension + $buttonMargin * 2) * $buttonsPerRow + 20 + 2};

:host {
  flex-wrap: wrap;
  max-width: $buttonWidth;
  min-width: $buttonWidth;
}

.colorPresets {
  &__button {
    border: 1px solid var(--borderColorPrimary);
    border-radius: 10px;
    cursor: pointer;
    margin: $buttonMargin;
    max-height: $buttonDimension;
    max-width: $buttonDimension;
    min-height: $buttonDimension;
    min-width: $buttonDimension;
    outline: 0;

    &--random {
      @include flex-center;
      background: var(--backgroundColorPrimary);
      color: var(--textColorPrimary);
      font-size: 20px;
    }
  }
}
