@import 'src/app/shared/scss/mixins';

:host {
  @include overrideMatTextInputStyles(--backgroundColorPrimary);
  max-width: 420px;
  width: 90%;
}

.segment {
  @include segmentBaseStyles();

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__name {
    align-items: center;
    display: flex;

    &__text {
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 16px 0;
    }

    &__icon {
      border: 1px solid var(--textColorAccent);
      border-radius: 6px;
      color: var(--textColorAccent);
      cursor: pointer;
      font-size: 20px;
      margin-left: 10px;
      padding: 2px;

      &:hover {
        border-color: var(--textColorPrimary);
        color: var(--textColorPrimary);
      }
    }
  }

  &__expandIcon {
    cursor: pointer;
    font-size: 30px;
    transform: rotate(0deg);
    transition: transform 2.5s ease;

    &--expanded {
      // TODO use angular animations
      transform: rotate(180deg);
    }
  }

  &__content {
    margin-top: 8px;
  }

  &__row {
    align-items: center;
    border-top: 1px solid var(--borderColorAccent);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;

    & > * {
      margin: 4px;
    }

    & ::ng-deep .mat-button-wrapper {
      @include flex-center;
    }
  }

  &__button {
    @include iconButton(36px);
    @include flex-center;

    &__icon {
      font-size: 22px;
    }
  }

  &__powerButton {
    &__input {
      display: none;
    }
  }

  &__brightness {
    ::ng-deep &__input {
      margin: -12px 6px;
    }
  }

  &__numberButtonWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__deleteButton {
  }

  &__applyButton {
  }
}
