@import 'src/app/shared/scss/mixins';

:host {
  @include overrideMatTextInputStyles(--backgroundColorPrimary);
}

.segment {
  @include segmentBaseStyles(330px);

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__name {
    align-items: center;
    display: flex;

    &__text {
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 16px 0;
    }

    &__icon {
      @include cursorPointerOnHover();
      color: var(--textColorAccent);
      margin-left: 4px;
    }

    &__formField {
      margin-top: 2px;
      margin-bottom: -18px;
      min-width: 80px;
    }

    & ::ng-deep .mat-form-field-flex {
      padding-top: 4px !important;
    }
  }

  &__expandIcon {
    @include cursorPointerOnHover();
    font-size: 24px;
    transition: transform 0.25s ease;

    &--expanded {
      // TODO animation doesn't work
      transform: rotate(180deg);
    }
  }

  &__content {
    margin-top: 8px;
  }

  &__row {
    align-items: center;
    border-top: 1px solid var(--borderColorAccent);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
  }

  &__button {
    @include iconButton(36px);
    align-items: center;
    display: flex;
    justify-content: center;

    &__icon {
      font-size: 25px;
    }
  }

  &__powerButton {
    &__input {
      display: none;
    }
  }

  &__deleteButton {
  }

  &__numberForm {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  &__numberButtonWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__numberButton {
    @include cursorPointerOnHover();
  }

  &__checkboxes {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
  }

  &__brightness {
    ::ng-deep &__input {
      margin: -12px 6px;
    }
  }
}
