<div
  [formGroup]="segmentForm"
  class="segment">
  <!-- <div>{{ segmentForm.value | json }}</div> -->

  <div class="segment__header">
    <mat-checkbox
      formControlName="isSelected"
      class="">
    </mat-checkbox>

    <div
      *ngIf="!isEditingName; else nameEditor"
      class="segment__name">
      <span
        (click)="selectOnlySegment()"
        class="segment__name__text">
        {{ segment.name }}
      </span>
      <i
        (click)="toggleEditName()"
        class="icons segment__name__icon">
        &#xe2c6;
      </i>
    </div>
    <ng-template #nameEditor>
      <div class="segment__name">
        <mat-form-field
          appearance="fill"
          class="segment__nameFormField">
          <mat-label>Segment Name</mat-label>
          <input
            matInput
            formControlName="name"
            (keydown)="onNameKeyDown($event)"
            placeholder="Name"
            maxlength=32
            autocomplete="off"
            class="">
        </mat-form-field>
        <i
          (click)="toggleEditName()"
          class="icons segment__name__icon">
          &#xe390;
        </i>
      </div>
    </ng-template>

    <i
      (click)="toggleExpanded()"
      [ngClass]="{ 'segment__expandIcon--expanded': segment.isExpanded }"
      class="segment__expandIcon icons">
      &#xe395;
    </i>
  </div>

  <div
    *ngIf="segment.isExpanded"
    class="segment__content">
    <div class="segment__row">
      <label
        [ngClass]="{ 'segment__powerButton--enabled': segmentForm.get('isOn')!.value }"
        class="segment__button segment__powerButton">
        <input
          formControlName="isOn"
          type="checkbox"
          class="segment__powerButton__input" />
        <i class="segment__button__icon icons">
          &#xe08f;
        </i>
      </label>

      <div class="segment__checkboxes">
        <mat-checkbox
          formControlName="isReverse"
          class="">
          Reverse direction
        </mat-checkbox>
    
        <mat-checkbox
          formControlName="isMirror"
          class="">
          Mirror effect
        </mat-checkbox>
      </div>

      <button
        *ngIf="showDeleteButton"
        (click)="deleteSegment()"
        [disabled]="getSegmentsLength() <= 1"
        class="segment__button segment__deleteButton">
        <i class="segment__button__icon icons">
          &#xe037;
        </i>
      </button>
    </div>

    <div class="segment__row">
      <app-color-slider
        [control]="segmentForm.get('brightness')!"
        [min]="1"
        [max]="255"
        sliderClass="segment__brightness__input"
        class="">
      </app-color-slider>
    </div>

    <div class="segment__row">
      <div class="segment__numberForm">
        <mat-form-field
          *ngFor="let numberInput of numberInputs"
          appearance="fill"
          class="segment__numberFormField">
          <mat-label>{{ numberInput.label }}</mat-label>
          <input
            matInput
            type="number"
            [formControlName]="numberInput.formControlName"
            [placeholder]="numberInput.placeholder"
            class="segment__numberInput__input">
        </mat-form-field>
        <div class="segment__numberButtonWrapper">
          <button
            (click)="updateSegment()"
            class="segment__numberButton">
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>
</div>









<!--
<table class="infot">
  <tr>
    <td class="segtd">
      Start LED
    </td>
    <td class="segtd">
      Length
      <!-- TODO get app config - - >
      <!-- {{ cfg.comp.seglen ? 'Length' : 'Stop LED' }} - - >
    </td>
    <td class="segtd">
      Offset
    </td>
  </tr>
  <tr>
    <td class="segtd">
      <input
        class="noslide segn"
        type="number"
        min="0"
        [max]="ledCount - 1"
        [value]="segment.start"
        oninput="updateLen(segment.id)">
    </td>
    <td class="segtd">
      <!-- TODO get app config -- >
      <!-- [max]="ledCount - (cfg.comp.seglen ? segment.start : 0)" -- >
      <!-- [value]="segment.stop - (cfg.comp.seglen ? segment.start : 0)" -- >
      <input
        class="noslide segn"
        type="number"
        min="0"
        oninput="updateLen(segment.id)">
    </td>
    <td class="segtd">
      <input
        class="noslide segn"
        type="number"
        [value]="segment.of"
        oninput="updateLen(segment.id)">
    </td>
  </tr>
</table>
<table class="infot">
  <tr>
    <td class="segtd">
      Grouping
    </td>
    <td class="segtd">
      Spacing
    </td>
    <td class="segtd">
      Apply
    </td>
  </tr>
  <tr>
    <td class="segtd">
      <input
        class="noslide segn"
        type="number"
        min="1"
        max="255"
        value="segment.grp"
        oninput="updateLen(segment.id)">
    </td>
    <td class="segtd">
      <input
        class="noslide segn"
        type="number"
        min="0"
        max="255"
        value="segment.spc"
        oninput="updateLen(segment.id)">
    </td>
    <td class="segtd">
      <i
        class="icons e-icon cnf cnf-s"
        onclick="setSeg(segment.id)">
        &#xe390;
      </i>
    </td>
  </tr>
</table>
-->
