@use 'sass:math';

@import 'src/app/shared/scss/mixins';

.segment {
  border: 1px solid rgb(128,128,128);
  border-radius: 6px;
  margin: 10px;
  max-width: 300px;
  min-width: 300px;
  padding: 5px;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    align-items: center;
    display: flex;

    &__text {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__icon {
      @include cursorPointerOnHover();
      color: rgb(128,128,128);
      margin-left: 4px;
    }
  }

  &__expandIcon {
    @include cursorPointerOnHover();
    font-size: 24px;
    transition: transform 0.2s;

    &--expanded {
      transform: rotate(180deg);
    }
  }

  &__content {
    margin-top: 8px;
  }

  &__row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgb(200,200,200);
    }
  }

  &__powerButton {
    @include cursorPointerOnHover();
    $buttonDimension: 36px;
    align-items: center;
    border: 1px solid rgb(128,128,128);
    border-radius: math.div($buttonDimension, 2);
    display: flex;
    height: $buttonDimension;
    justify-content: center;
    width: $buttonDimension;

    &:hover {
      background: rgb(220,220,220);
    }

    &--enabled {
      background: rgb(0,255,0);

      &:hover {
        background: rgb(25,220,25);
      }
    }

    &__input {
      display: none;
    }
    
    &__icon {
      font-size: 25px;
    }
  }

  &__numberForm {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  &__numberInput {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    &__label {
      font-size: 13px;
    }

    &__input {
      margin: 3px 0;
      width: 60px;
    }
  }

  &__numberButtonWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__numberButton {
    @include cursorPointerOnHover();
  }

  &__checkboxes {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
  }

  &__brightness {
    ::ng-deep &__input {
      margin: -12px 6px;
    }
  }
}
