<div
  [formGroup]="newPresetForm"
  class="presetForm">

  <div class="presetForm__row presetForm__row--wrapped">
    <app-text-input
      *ngFor="let input of inputs"
      [label]="input.label"
      [inputs]="input.inputs"
      [description]="input.description">
    </app-text-input>
  </div>

  <div class="presetForm__row">
    <mat-checkbox
      formControlName="useCurrentState"
      class="">
      Use current state
    </mat-checkbox>

    <ng-container *ngIf="newPresetForm.get('useCurrentState')?.value === true; else apiValueInput">
      <mat-checkbox
        formControlName="includeBrightness"
        class="">
        Include brightness
      </mat-checkbox>
      <mat-checkbox
        formControlName="saveSegmentBounds"
        class="">
        Save segment bounds
      </mat-checkbox>
    </ng-container>

    <ng-template #apiValueInput>
      <app-text-input
        [label]="textareaInput.label"
        [inputs]="textareaInput.inputs"
        [description]="textareaInput.description">
      </app-text-input>
    </ng-template>
  </div>

  <div class="presetForm__row">
    <div class="presetForm__bottomButtons presetForm__horizontalSection">
      <button
        mat-raised-button
        color="primary"
        (click)="emitCloseForm()"
        class="">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="savePreset()"
        class="">
        Save
      </button>
    </div>
  </div>
</div>
