<div
  [formGroup]="newPreset"
  class="presetForm">

  <div class="presetForm__row">
    <mat-form-field
      appearance="fill"
      class="presetForm__name">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        class="">
    </mat-form-field>

    <div class="presetForm__horizontalSection">
      <mat-form-field
        appearance="fill"
        class="presetForm__id">
        <mat-label>ID</mat-label>
        <input
          matInput
          type="number"
          formControlName="id"
          class="">
      </mat-form-field>
  
      <mat-form-field
        appearance="fill"
        class="presetForm__quickLoadLabel">
        <mat-label>Quick Load label</mat-label>
        <input
          matInput
          formControlName="quickLoadLabel"
          class="">
      </mat-form-field>
    </div>
  </div>

  <div class="presetForm__row">
    <mat-checkbox
      formControlName="useCurrentState"
      class="">
      Use current state
    </mat-checkbox>

    <ng-container *ngIf="newPreset.get('useCurrentState')?.value === true; else apiValueInput">
      <mat-checkbox
        formControlName="includeBrightness"
        class="">
        Include brightness
      </mat-checkbox>
      <mat-checkbox
        formControlName="saveSegmentBounds"
        class="">
        Save segment bounds
      </mat-checkbox>
    </ng-container>

    <ng-template #apiValueInput>
      <mat-form-field
        class="presetForm__apiValue"
        appearance="fill">
        <mat-label>API Command</mat-label>
        <!-- TODO better placeholder -->
        <textarea
          matInput
          formControlName="apiValue"
          placeholder="{}">
        </textarea>
      </mat-form-field>
    </ng-template>
  </div>

  <div class="presetForm__row">
    <div class="presetForm__bottomButtons presetForm__horizontalSection">
      <button
        mat-raised-button
        color="primary"
        (click)="emitCloseForm()"
        class="">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="savePreset()"
        class="">
        Save
      </button>
    </div>
  </div>
</div>
