@import 'src/app/shared/scss/mixins';

:host {
  width: 100%;
}

.presetForm {
  @include common-form-base;
  container-type: inline-size;

  &__row {
    // tune this value if needed
    @container (max-width: 500px) {
      &--checkboxes {
        flex-direction: column;
      }
    }
  }
}
