@import 'src/app/shared/scss/mixins';

:host {
  @include overrideMatTextInputStyles(--backgroundColorAccent);
  display: flex;
  justify-content: center;
  padding: 6px;
  width: 100%;
}

.presetForm {
  width: 100%;

  &__header {
    text-align: center;
  }

  &__row {
    @include flex-center;
    border-top: 1px solid var(--borderColorAccent);
    color: var(--textColorPrimary);
    flex-direction: column;
    padding: 10px;

    & > * {
      margin: 6px;
    }
  }

  &__id {
    @include forceWidth(70px);
    margin-right: 20px;
  }

  &__name {
    @include forceWidth(250px);
  }


  &__quickLoadLabel {
    @include forceWidth(150px);
  }

  &__horizontalSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__apiValue {
    margin: 0px 0 -16px;
  }

  &__bottomButtons {
    & > * {
      margin: 6px;
    }
  }
}
