:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr 80px;
  height: 100vh;
}

.controls {
  &__topMenu {
    grid-area: 1 / 1 / 2 / 2;
    overflow-y: auto; // TODO remove
  }

  &__bottomMenu {
    grid-area: 3 / 1 / 4 / 2;
  }

  &__tabs {
    grid-area: 2 / 1 / 3 / 2;
    overflow-y: auto;
  }

  &__tab {
    height: 100%;
    position: relative;

    &__inputs {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 40% 60%;

      > * {
        border: 1px solid rgb(128,128,128);
        border-radius: 6px;
        margin: 2px;
      }

      &__colorInputs {
        grid-area: 1 / 1 / 2 / 3;
        overflow-y: auto;
      }

      &__palettes {
        grid-area: 2 / 1 / 3 / 2;
        overflow: hidden;
      }

      &__effects {
        grid-area: 2 / 2 / 3 / 3;
        overflow: hidden;
      }
    }
  }
}
