<!-- <div
  id="cv"
  class="overlay">
  Loading WLED UI...
</div>
<noscript>
  <div
    class="overlay"
    style="opacity:1;">
    Sorry, WLED UI needs JavaScript!
  </div>
</noscript>
<div id="bg"></div> -->

<!-- <app-top-menu-bar></app-top-menu-bar> -->

<div class="controls__tabs">
  <div class="controls__tab">
    <app-color-inputs></app-color-inputs>
    <app-palettes></app-palettes>
  </div>

  <!-- <app-effects class="controls__tab"></app-effects> -->

  <!-- <app-segments class="controls__tab"></app-segments> -->

  <!-- <app-preset class="controls__tab"></app-preset> -->
</div>

<!-- <app-bottom-menu-bar></app-bottom-menu-bar> -->

<div id="connind"></div>
<!-- TODO move toast to external location so it can be used in more than just controls component? -->
<!-- <app-toast></app-toast> -->
<!-- <div
  id="namelabel"
  (click)="toggleNodes()"></div> -->

<!-- <app-nodes
  [nodes]="">
</app-nodes> -->

<!-- <app-rover></app-rover> -->
