<div [formGroup]="rgbValues">
  <p class="labels">
    RGB color
  </p>
  <app-color-slider
    [control]="rgbValues.get('r')!"
    [min]="0"
    [max]="255"
    [value]="128"
    (slideInput)="fromRgb()"
    (slideChange)="setColor()"
    class="noslide">
  </app-color-slider>
  <app-color-slider
    [control]="rgbValues.get('g')!"
    [min]="0"
    [max]="255"
    [value]="128"
    (slideInput)="fromRgb()"
    (slideChange)="setColor()"
    class="noslide">
  </app-color-slider>
  <app-color-slider
    [control]="rgbValues.get('b')!"
    [min]="0"
    [max]="255"
    [value]="128"
    (slideInput)="fromRgb()"
    (slideChange)="setColor()"
    class="noslide">
  </app-color-slider>
</div>
