<div id="rgbwrap">
  <p class="labels">
    RGB color
  </p>
  <div
    class="sliderwrap il"
    id="rwrap">
    <input
      id="sliderR"
      class="noslide"
      onchange="setColorByInputType(0)"
      oninput="fromRgb()"
      max="255"
      min="0"
      type="range"
      value="128" />
    <div class="sliderdisplay"></div>
  </div>
  <br>
  <div
    class="sliderwrap il"
    id="gwrap">
    <input
      id="sliderG"
      class="noslide"
      onchange="setColorByInputType(0)"
      oninput="fromRgb()"
      max="255"
      min="0"
      type="range"
      value="128" />
    <div class="sliderdisplay"></div>
  </div>
  <br>
  <div
    class="sliderwrap il"
    id="bwrap">
    <input
      id="sliderB"
      class="noslide"
      onchange="setColorByInputType(0)"
      oninput="fromRgb()"
      max="255"
      min="0"
      type="range"
      value="128" />
    <div class="sliderdisplay"></div>
  </div>
  <br>
</div>
