<nav
  *ngIf="showDevNavBar"
  class="nav">
  <a *ngFor="let link of links"
    [routerLink]="link.path"
    routerLinkActive="nav__link--active"
    class="nav__link">
    {{ link.component }}
  </a>
  <span
    (click)="hideDevNavBar()"
    class="nav__closeButton">
    X
  </span>
</nav>

<router-outlet #appOutlet="outlet"></router-outlet>

<div *ngIf="!appOutlet.isActivated">
  <div class="loadingAnimation__text">
    Connecting to WLED device...
  </div>
  <div class="loadingAnimation">
    <div class="loadingAnimation__dot loadingAnimation__dot--five"></div>
    <div class="loadingAnimation__dot loadingAnimation__dot--four"></div>
    <div class="loadingAnimation__dot loadingAnimation__dot--three"></div>
    <div class="loadingAnimation__dot loadingAnimation__dot--two"></div>
    <div class="loadingAnimation__dot loadingAnimation__dot--one"></div>
  </div>
</div>
