<div id="wwrap">
  <app-color-slider
    [control]="whitenessSettings.get('whiteChannel')!"
    [min]="0"
    [max]="255"
    [value]="128"
    label="White channel"
    (slideInput)="'TODO'"
    (slideChange)="setColor($event)"
    class="noslide">
  </app-color-slider>
</div>
<div id="wbal">
  <app-color-slider
    [control]="whitenessSettings.get('whiteBalance')!"
    [min]="0"
    [max]="255"
    [value]="128"
    label="White balance"
    (slideInput)="'TODO'"
    (slideChange)="setBalance($event)"
    class="noslide">
  </app-color-slider>
</div>
