:host {
  display: flex;
  width: 100%;
}

.liveView {
  border-bottom: 1px solid var(--borderColorAccent);
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--borderColorAccent);
  height: 12px;
  width: 100%;
}
