:host {
  display: flex;
  position: relative;
  width: 100%;
}

.liveView {
  border-bottom: 1px solid var(--borderColorAccent);
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--borderColorAccent);
  height: 12px;
  width: 100%;

  &__fps {
    background: rgba(0,0,0,0.7);
    border-radius: 2px;
    font-size: 12px;
    padding: 0 3px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
