$spacing: 8px;

:host {
  display: grid;
  grid-gap: $spacing;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 3px $spacing;

  > * {
    border: 1px solid var(--borderColorPrimary);
    border-radius: 6px;
    // TODO keep box shadow?
    box-shadow: inset 0px 0px 8px 0 rgba(var(--borderColorPrimaryRgb),0.8);
  }
}

.controls {
  &__colorInputs {
    grid-area: 1 / 1 / 2 / 3;
  }

  &__palettes {
    grid-area: 2 / 1 / 3 / 2;
    overflow: hidden;
  }

  &__effects {
    grid-area: 2 / 2 / 3 / 3;
    overflow: hidden;
  }
}
