<div
  [ngClass]="isEditing ? 'scheduledPreset__readOnlyTemplate--expanded' : ''"
  class="scheduledPreset__readOnlyTemplate">
  <div
    [ngClass]="getFormControl('enabled').value
      ? 'scheduledPreset__readOnlyTemplate__enabled--on'
      : 'scheduledPreset__readOnlyTemplate__enabled--off'"
    class="scheduledPreset__readOnlyTemplate__enabled">
    {{ getFormControl('enabled').value ? 'ON' : 'OFF' }}
  </div>
  <div>
    Preset {{ getFormControl('presetId').value }}
  </div>
  <div
    [ngSwitch]="true"
    class="scheduledPreset__readOnlyTemplate__dates">
    <ng-container *ngSwitchCase="isSunrise">
      <span class="
        material-symbols-outlined
        scheduledPreset__sunriseIcon">
        wb_twilight
      </span>
      <span class="scheduledPreset__readOnlyTemplate__subtext">
        Sunrise
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="isSunset">
      <span class="
        material-symbols-outlined
        scheduledPreset__sunsetIcon">
        wb_twilight
      </span>
      <span class="scheduledPreset__readOnlyTemplate__subtext">
        Sunset
      </span>
    </ng-container>
    <div *ngSwitchDefault>
      {{ formatDateRange() }}
    </div>
  </div>
  <div>
    {{ formatTime() }}
  </div>
  <app-day-of-week-picker
    [daysOfWeekForm]="getFormGroup('days')"
    [readOnly]="true">
  </app-day-of-week-picker>
</div>

<div
  @expand
  *ngIf="isEditing"
  [formGroup]="scheduledPresetForm"
  class="scheduledPreset__wrapper">
  <div class="scheduledPreset__row1">
    <button
      (click)="minimize($event)"
      class="scheduledPreset__closeButton">
      <span class="material-symbols-outlined">
        cancel
      </span>
    </button>
  </div>

  <div class="scheduledPreset__row2">
    <mat-slide-toggle
      formControlName="enabled"
      color="primary"
      [checked]="false"
      class="scheduledPreset__enabled">
      {{ getFormControl('enabled').value ? 'On' : 'Off' }}
    </mat-slide-toggle>

    <app-text-input
      label="Preset"
      [inputs]="[presetIdInputConfig]"
      flexDirection="column">
    </app-text-input>

    <!-- TODO use ng material timepicker -->
    <!-- <mat-form-field>
      <mat-label>{{ isSunriseOrSunset() ? 'Minute' : 'Hour : Minute' }}</mat-label>
      <input matInput [matTimepicker]="timePicker">
    <mat-timepicker-toggle matIconSuffix [for]="timePicker"/>
    <mat-timepicker #timePicker/>
    </mat-form-field> -->

    <ng-container *ngIf="!isSunriseOrSunset(); else minuteOnly">
      <app-text-input
        label="Hour : Minute"
        [inputs]="[hourInputConfig, minuteInputConfig]"
        flexDirection="column">
      </app-text-input>
    </ng-container>
    <ng-template #minuteOnly>
      <app-text-input
        label="Minute offset (-59 to +59)"
        [inputs]="[minuteInputConfig]"
        flexDirection="column">
      </app-text-input>
    </ng-template>
  </div>
  
  <div class="scheduledPreset__row3">
    <div>
      Days of the week to run:
    </div>
    <app-day-of-week-picker
      [daysOfWeekForm]="getFormGroup('days')"
      [readOnly]="false">
    </app-day-of-week-picker>
  </div>

  <div
    *ngIf="!isSunriseOrSunset()"
    class="scheduledPreset__row4">

    <mat-form-field>
      <mat-label>Start & End Dates</mat-label>
      <mat-date-range-input
        [rangePicker]="picker">
        <input
          matStartDate
          formControlName="startDate"
          placeholder="Start Date">
        <input
          matEndDate
          formControlName="endDate"
          placeholder="End Date">
      </mat-date-range-input>
      <mat-hint class="scheduledPreset__dateHint">
        MM/DD/YYYY - MM/DD/YYYY
      </mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>
