<!-- TODO show "Loading..." on init -->

<span
  *ngIf="noNewSegments"
  class="h">
  Maximum number of segments reached.
</span>

<div class="segments__topMenuBar">
  <button
    (click)="addSegment()"
    class="segments__addButton">
    <!-- TODO or just a '+' sign? -->
    New Segment
  </button>

  <button
    *ngIf="segments.length > 1"
    (click)="resetSegments()"
    ngClass="{ 'segments__resetButton--confirm': '!confirmedResetSegments' }"
    class="segments__resetButton">
    {{ getResetButtonText() }}
  </button>
</div>

<div class="segments__list">
  <app-segment
    *ngFor="let segment of segments"
    [segment]="segment"
    [isExpanded]="getExpanded(segment.id)">
  </app-segment>
</div>
