@import 'src/app/shared/scss/mixins';

:host {
  @include main-view-container;
}

.segments {
  &__topMenuBar {
    @include flex-center;
    flex-wrap: wrap;
    width: 100%;

    & > * {
      margin: 5px;
    }
  }
}
