<span *ngIf="noNewSegments">
  Maximum number of segments reached.
</span>

<div class="segments__topMenuBar">
  <button
    *ngIf="!showNewSegmentForm"
    (click)="toggleNewSegmentForm()"
    class="segments__addButton">
    <!-- TODO or just a '+' sign? -->
    New Segment
  </button>

  <button
    (click)="selectAllSegments()"
    class="segments__addButton">
    Select All
  </button>

  <button
    *ngIf="segments.length > 1"
    (click)="resetSegments()"
    ngClass="{ 'segments__resetButton--confirm': '!confirmedResetSegments' }"
    class="segments__resetButton">
    {{ getResetButtonText() }}
  </button>
</div>

<div class="segments__list">
  <app-new-segment
    *ngIf="showNewSegmentForm"
    [newSegmentId]="segments.length"
    [ledCount]="ledCount"
    [lastLed]="lastLed">
  </app-new-segment>

  <app-segment
    *ngFor="let segment of segments"
    [segment]="segment"
    [showDeleteButton]="showDeleteButtons">
  </app-segment>
</div>
