@import 'src/app/shared/scss/mixins';

:host {
  @include main-view-container;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.segments {
  &__topMenuBar {
    @include flex-center;
    flex-wrap: wrap;
    width: 100%;

    & > * {
      margin: 5px;
    }
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
