<span *ngIf="noNewSegments">
  Maximum number of segments reached.
</span>

<!-- TODO make own component -->
<div class="segments__topMenuBar">
  <button
    mat-raised-button
    color="primary"
    (click)="setShowCreateForm(true)"
    [disabled]="showCreateForm"
    class="">
    <!-- TODO or just a '+' sign? -->
    New Segment
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="selectAllSegments()"
    class="">
    Select All
  </button>

  <button
    *ngIf="getSegments().length > 1"
    mat-raised-button
    color="primary"
    (click)="resetSegments()"
    ngClass="{ 'segments__resetButton--confirm': '!confirmedResetSegments' }"
    class="">
    {{ getResetButtonText() }}
</button>

  <button
    mat-raised-button
    color="primary"
    (click)="expandAll()"
    class="">
    Expand All
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="collapseAll()"
    class="">
    Collapse All
  </button>
</div>

<div
  @expand
  *ngIf="showCreateForm"
  class="segments__formWrapper">
  <app-segment-form
    (closeForm)="setShowCreateForm(false)"
    formType="create"
    [newSegmentId]="getSegments().length"
    [ledCount]="ledCount"
    [lastLed]="lastLed"
    class="segments__createForm">
  </app-segment-form>
</div>

<!-- <app-new-segment
  *ngIf="showCreateForm"
  (submit)="setShowCreateForm(false)"
  [newSegmentId]="getSegments().length"
  [ledCount]="ledCount"
  [lastLed]="lastLed">
</app-new-segment> -->

<app-segment-list
  [segments]="getSegments()">
</app-segment-list>
