<app-search-input
  (searchValueChanges)="filterList($event)"
  label="Search palettes"
  class="palettes__searchInput">
</app-search-input>

<app-color-slots class="palettes__colorSlots"></app-color-slots>

<div class="palettes__selectedName">
  Selected: {{ getSelectedPaletteName() }}
</div>

<div class="palettes__list">
  <label
    *ngFor="let palette of palettes"
    [ngClass]="{ 'palettes__radioButton--selected': palette.id === selectedPalette.value }"
    class="palettes__radioButton"
    [ngStyle]="{ background: palette.background }">
    <input
      type="radio"
      [formControl]="selectedPalette"
      [value]="palette.id"
      class="palettes__radioButton__input">
    <span class="palettes__radioButton__text">
      {{ palette.name }}
    </span>
  </label>
</div>
