@import 'src/app/shared/scss/mixins';

:host {
  @include overrideMatTextInputStyles(--backgroundColorAccent);
  align-items: center;
  border-bottom: solid 1px var(--borderColorPrimary);
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  padding: 8px 10px 4px;
  position: relative;

  @media screen and (max-width: 400px) {
    padding: 4px 2px;
  }
}

.searchInput {
  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__title {
    margin: 4px 0;
  }

  &__input {
    background: var(--backgroundColorAccent);
    border: 1px solid var(--borderColorPrimary);
    border-radius: 6px;
    color: inherit;
    // TODO convert to em/rem
    font-size: 15.5px;
    margin: 4px 0;
    max-width: 180px;
    outline: 0;
    padding: 4px 8px;
    width: 100%;
  }

  &__selectedName {
    font-size: 14px;
    font-style: italic;
    padding: 2px 0;
  }

  &__icon {
    @include cursorPointerOnHover();
    color: var(--textColorPrimary);
    font-size: 25px;
    margin: 0 4px;
    user-select: none;

    @media screen and (max-width: 400px) {
      font-size: 22px;
    }
  }

  &__contextMenu {
    @include overlayContainer();
  }
}
