 <i
  [innerHTML]="'&#xe0a1;'"
  (click)="toggleSearchInput()"
  class="searchInput__icon icons">
</i>

<div class="searchInput__header">
  <input
    *ngIf="showInput; else showTitle"
    #searchInput
    [formControl]="searchText"
    (keydown)="onKeyDown($event)"
    placeholder="Search"
    class="searchInput__input">
  <!-- TODO add mat icon suffix to normal input? -->
  <!-- <mat-icon matSuffix>
      <i
        *ngIf="searchText.value?.length > 0"
        [innerHTML]="'&#xe38f;'"
        (click)="cancelSearch()"
        class="searchInput__icon icons">
      </i>
    </mat-icon> -->

  <ng-template #showTitle>
    <h2 class="searchInput__title">
      {{ title }}
    </h2>
  </ng-template>

  <div class="searchInput__selectedName">
    {{ selectedName | async }}
  </div>
</div>

<i
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  [innerHTML]="'&#xe2a6;'"
  (click)="toggleContextMenu()"
  class="searchInput__icon icons">
</i>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isContextMenuOpen"
  [cdkConnectedOverlayPositions]="getOverlayPositions()"
  [cdkConnectedOverlayFlexibleDimensions]="true">
  <div class="searchInput__contextMenu">
    <ng-content></ng-content>
  </div>
</ng-template>
