@import 'src/app/shared/scss/mixins';

:host {
  align-items: center;
  display: flex;
  min-width: 100px;
  padding: 6px;
  position: relative;

  & mat-form-field {
    margin-bottom: -20px;
    min-width: 100px;
  }

  & ::ng-deep .mat-form-field-flex {
    padding-top: 6px !important;
  }
}

.searchInput {
  &__inputWrapper {
    flex-grow: 1;
  }

  &__input {
  }

  &__searchIcon,
  &__cancelIcon {
    color: rgb(210,210,210);
    font-size: 30px;
  }

  &__searchIcon {
    margin-left: 4px;
  }

  &__cancelIcon {
    @include cursorPointerOnHover();
  }
}
