@import 'src/app/shared/scss/mixins';

:host {
  align-items: center;
  display: flex;
  padding: 6px 10px;
  position: relative;
}

.searchInput {
  &__inputWrapper {
    flex-grow: 1;
  }

  &__input {
  }

  &__searchIcon,
  &__cancelIcon {
    color: rgb(210,210,210);
    font-size: 20px;
  }

  &__searchIcon {
    margin-left: 4px;
  }

  &__cancelIcon {
    @include cursorPointerOnHover();
  }
}
