<form
  [formGroup]="timeSettingsForm"
  class="timeSettingsForm">
  <div>{{ timeSettingsForm.value | json }}</div>
  
  <app-settings-header
    helpUrl="https://kno.wled.ge/features/settings/#time-settings"
    (save)="submitForm()">
  </app-settings-header>

  <h1>
    Time Settings
  </h1>

  <app-settings-group title="Time">
    <div
      formGroupName="ntpServer"
      class="timeSettingsForm__ntp">
      <app-checkbox
        [control]="getFormControl('ntpServer.enabled')"
        label="Sync time from NTP server">
      </app-checkbox>
  
      <app-text-input
        label="Server URL"
        [inputs]="[ntpServerUrlInputConfig]">
      </app-text-input>
    </div>
  
    <app-checkbox
      [control]="getFormControl('use24HourFormat')"
      label="Use 24H Format">
    </app-checkbox>
  
    <div>
      Time Zone:
      <select formControlName="timeZone">
        <option
          *ngFor="let option of timeZoneOptions"
          [value]="option.value">
          {{ option.name }}
        </option>
      </select>
    </div>

    <app-text-input
      label="UTC Offset"
      [inputs]="[utcOffsetInputConfig]"
      description="In seconds; max. 18 hours">
    </app-text-input>
  
    <div>
      Current local time is: <span>{{ pageLoadLocalTime }}</span>
    </div>
  
    <div>
      <!-- TODO add "N" dropdown -->
      <app-text-input
        label="Latitude"
        [inputs]="[latitudeInputConfig]">
      </app-text-input>

      <!-- TODO add "E" dropdown -->
      <app-text-input
        label="Longitude"
        [inputs]="[longitudeInputConfig]">
      </app-text-input>
    </div>
  </app-settings-group>

  <app-settings-group
    title="Analog Clock Overlay"
    formGroupName="analogClockOverlay"
    class="timeSettingsForm__clock">

    <!-- TODO make this a slider -->
    <app-checkbox
      [control]="getFormControl('analogClockOverlay.enabled')"
      label="Enable">
    </app-checkbox>

    <app-text-input
      label="First/Last LEDs"
      [inputs]="[firstLedInputConfig, lastLedInputConfig]">
    </app-text-input>

    <app-text-input
      label="Middle LED (12 hour mark)"
      [inputs]="[middleLedInputConfig]">
    </app-text-input>

    <app-checkbox
      [control]="getFormControl('analogClockOverlay.show5MinuteMarks')"
      label="Show 5-minute marks">
    </app-checkbox>

    <app-checkbox
      [control]="getFormControl('analogClockOverlay.showSeconds')"
      label="Show seconds (as trail)">
    </app-checkbox>
  </app-settings-group>

  <app-settings-group
    title="Countdown"
    class="timeSettingsForm__countdown">
    <!-- TODO make this a slider -->
    <app-checkbox
      [control]="getFormControl('countdown.enabled')"
      label="Enable">
    </app-checkbox>

    <div>
      <h3>
        Countdown End
      </h3>

      <!-- TODO better datepicker!! -->
      <!-- TODO allow transform of epoch ms to datetime -->

      <app-text-input
        label="Year / Month / Day"
        [inputs]="[
          countdownYearInputConfig,
          countdownMonthInputConfig,
          countdownDayInputConfig,
        ]">
      </app-text-input>

      <app-text-input
        label="Hour / Minute / Second"
        [inputs]="[
          countdownHourInputConfig,
          countdownMinuteInputConfig,
          countdownSecondInputConfig,
        ]">
      </app-text-input>
    </div>
  </app-settings-group>

  <app-settings-group
    title="Macro Presets"
    formGroupName="presets"
    class="timeSettingsForm__macros">
    <div>
      Macros have moved!
    </div>
    <div>
      Presets now also can be used as macros to save both JSON and HTTP API commands.
    </div>
    <div>
      Just enter the preset ID below! Use 0 for the default action instead of a preset.
    </div>

    <app-text-input
      label="Alexa On/Off"
      [inputs]="[alexaOnInputConfig, alexaOffInputConfig]">
    </app-text-input>

    <app-text-input
      label="Countdown End"
      [inputs]="[countdownEndInputConfig]">
    </app-text-input>

    <app-text-input
      label="Timer End"
      [inputs]="[timerEndInputConfig]">
    </app-text-input>
  </app-settings-group>

  <app-settings-group
    title="Scheduled Presets"
    class="timeSettingsForm__scheduledPresets">
    <app-scheduled-preset
      *ngFor="let scheduledPreset of getFormArray('scheduledPresets').value"
      [scheduledPreset]="scheduledPreset">
    </app-scheduled-preset>
  </app-settings-group>
  
  <app-settings-footer (save)="submitForm()"></app-settings-footer>
</form>
