<form
  [formGroup]="timeSettingsForm"
  class="timeSettingsForm">
  <div>{{ timeSettingsForm.value | json }}</div>
  
  <app-settings-header
    helpUrl="https://kno.wled.ge/features/settings/#time-settings"
    (save)="submitForm()">
  </app-settings-header>

  <h1>
    Time Settings
  </h1>

  <app-settings-group title="Time">
    <div
      formGroupName="ntpServer"
      class="timeSettingsForm__ntp">
      <app-checkbox
        [control]="getFormControl('ntpServer.enabled')"
        label="Sync time from NTP server">
      </app-checkbox>
  
      <app-text-input
        label="Server URL"
        [inputs]="[ntpServerUrlInputConfig]">
      </app-text-input>
    </div>
  
    <app-checkbox
      [control]="getFormControl('use24HourFormat')"
      label="Use 24H Format">
    </app-checkbox>
  
    <div>
      Time Zone:
      <select formControlName="timeZone">
        <option
          *ngFor="let option of timeZoneOptions"
          [value]="option.value">
          {{ option.name }}
        </option>
      </select>
    </div>

    <app-text-input
      label="UTC Offset"
      [inputs]="[utcOffsetInputConfig]"
      description="In seconds; max. 18 hours">
    </app-text-input>
  
    <div>
      Current local time is: <span>{{ pageLoadLocalTime }}</span>
    </div>
  
    <div>
      <app-text-input
        [label]="'Latitude ' + (getFormControl('coordinates.latitude').value >= 0 ? '(N)' : '(S)')"
        [inputs]="[latitudeInputConfig]"
        description="Enter N as positive and S as negative">
      </app-text-input>

      <app-text-input
        [label]="'Longitude ' + (getFormControl('coordinates.longitude').value >= 0 ? '(E)' : '(W)')"
        [inputs]="[longitudeInputConfig]"
        description="Enter E as positive and W as negative">
      </app-text-input>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="getLatLong()">
        Get Location
      </button>
    </div>
  </app-settings-group>

  <app-settings-group
    title="Analog Clock Overlay"
    formGroupName="analogClockOverlay"
    class="timeSettingsForm__clock">

    <div>
      <mat-slide-toggle
        (change)="getFormControl('analogClockOverlay.enabled').setValue(!isAnalogOverlayEnabled())"
        color="primary"
        [checked]="isAnalogOverlayEnabled()"
        class="timeSettings__analogOverlay__enabled">
        {{ isAnalogOverlayEnabled() ? 'Enabled' : 'Disabled' }}
      </mat-slide-toggle>
    </div>

    <div
      @expand
      *ngIf="isAnalogOverlayEnabled()">
      <app-text-input
        label="First/Last LEDs"
        [inputs]="[firstLedInputConfig, lastLedInputConfig]">
      </app-text-input>
  
      <app-text-input
        label="Middle LED (12 hour mark)"
        [inputs]="[middleLedInputConfig]">
      </app-text-input>
  
      <app-checkbox
        [control]="getFormControl('analogClockOverlay.show5MinuteMarks')"
        label="Show 5-minute marks">
      </app-checkbox>
  
      <app-checkbox
        [control]="getFormControl('analogClockOverlay.showSeconds')"
        label="Show seconds (as trail)">
      </app-checkbox>
    </div>
  </app-settings-group>

  <app-settings-group
    title="Countdown"
    class="timeSettingsForm__countdown">
    <div>
      <mat-slide-toggle
        (change)="getFormControl('countdown.enabled').setValue(!isCountdownEnabled())"
        color="primary"
        [checked]="isCountdownEnabled()"
        class="timeSettings__countdown__enabled">
        {{ isCountdownEnabled() ? 'Enabled' : 'Disabled' }}
      </mat-slide-toggle>
    </div>

    <div
      @expand
      *ngIf="isCountdownEnabled()">
      <h3>
        Countdown End
      </h3>

      <!-- TODO better datepicker!! -->
      <!-- TODO allow transform of epoch ms to datetime -->

      <app-text-input
        label="Year / Month / Day"
        [inputs]="[
          countdownYearInputConfig,
          countdownMonthInputConfig,
          countdownDayInputConfig,
        ]">
      </app-text-input>

      <app-text-input
        label="Hour : Minute : Second"
        [inputs]="[
          countdownHourInputConfig,
          countdownMinuteInputConfig,
          countdownSecondInputConfig,
        ]">
      </app-text-input>
    </div>
  </app-settings-group>

  <app-settings-group
    title="Macro Presets"
    formGroupName="presets"
    class="timeSettingsForm__macros">
    <div>
      Macros have moved!
    </div>
    <div>
      Presets now also can be used as macros to save both JSON and HTTP API commands.
    </div>
    <div>
      Just enter the preset ID below! Use 0 for the default action instead of a preset.
    </div>

    <app-text-input
      label="Alexa On/Off"
      [inputs]="[alexaOnInputConfig, alexaOffInputConfig]">
    </app-text-input>

    <app-text-input
      label="Countdown End"
      [inputs]="[countdownEndInputConfig]">
    </app-text-input>

    <app-text-input
      label="Timer End"
      [inputs]="[timerEndInputConfig]">
    </app-text-input>
  </app-settings-group>

  <app-settings-group
    title="Button Actions"
    class="timeSettingsForm__buttonActions">
    <div class="timeSettingsForm__buttonActions__contentWrapper">
      <div class="timeSettingsForm__buttonActions__headerRow">
        <div>Push</div>
        <div>Short</div>
        <div>Long</div>
        <div>Double</div>
      </div>
      <div class="timeSettingsForm__buttonActions__headerRow">
        <div>Switch</div>
        <div>Turn off</div>
        <div>Turn on</div>
        <div>-</div>
      </div>
      <app-button-actions
        *ngFor="let buttonActionsForm of buttonActions.controls"
        [buttonActionsForm]="buttonActionsForm"
        [buttonIndex]="buttonActionsForm.get('index')!.value">
      </app-button-actions>
    </div>
    <div>
      <app-external-link
        href="https://kno.wled.ge/features/macros/#analog-button"
        text="Analog Button setup">
      </app-external-link>
    </div>
  </app-settings-group>

  <app-settings-group
    title="Scheduled Presets"
    class="timeSettingsForm__scheduledPresets">
    <app-scheduled-preset
      *ngFor="let scheduledPresetForm of scheduledPresets.controls"
      [scheduledPresetForm]="scheduledPresetForm">
    </app-scheduled-preset>

    <app-scheduled-preset
      *ngIf="sunrisePreset"
      [scheduledPresetForm]="sunrisePreset"
      [isSunrise]="true">
    </app-scheduled-preset>

    <app-scheduled-preset
      *ngIf="sunsetPreset"
      [scheduledPresetForm]="sunsetPreset"
      [isSunset]="true">
    </app-scheduled-preset>
  </app-settings-group>
  
  <app-settings-footer (save)="submitForm()"></app-settings-footer>
</form>
