<!-- TODO add simplified view (can toggle "advanced settings") for new segment form -->

<div
  [formGroup]="segmentForm"
  class="segment">
  <!-- <div>{{ segmentForm.value | json }}</div> -->

  <div class="segmentForm__row segmentForm__row--wrappedRow">
    <label
      [ngClass]="{ 'segmentForm__powerButton--enabled': segmentForm.get('isOn')!.value }"
      class="segmentForm__button segmentForm__powerButton">
      <input
        formControlName="isOn"
        type="checkbox"
        class="segmentForm__powerButton__input" />
      <span class="segmentForm__button__icon material-symbols-outlined">
        power_settings_new
      </span>
    </label>

    <app-color-slider
      [control]="segmentForm.get('brightness')!"
      [min]="1"
      [max]="255"
      label="Brightness"
      sliderClass="segmentForm__brightness__input"
      class="">
    </app-color-slider>

    <div class="segmentForm__checkboxes">
      <app-checkbox
        [control]="getFormControl('isReverse')"
        label="Reverse direction">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('isMirror')"
        label="Mirror effect">
      </app-checkbox>
    </div>
  </div>

  <div class="segmentForm__row segmentForm__row--column">
    <app-text-input
      *ngFor="let input of inputs"
      [label]="input.label"
      [inputs]="input.inputs"
      [description]="input.description">
    </app-text-input>
  </div>

  <div class="segmentForm__row segmentForm__row--wrappedRow">
    <button
      mat-raised-button
      color="warn"
      (click)="deleteSegment()"
      [disabled]="getSegmentsLength() <= 1"
      class="segmentForm__deleteButton">
      <span class="material-symbols-outlined">
        delete
      </span>
      Delete
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="updateSegment()"
      class="segmentForm__applyButton">
      <span class="material-symbols-outlined">
        done
      </span>
      Apply
    </button>
  </div>

</div>









<!--
<table class="infot">
  <tr>
    <td class="segtd">
      Start LED
    </td>
    <td class="segtd">
      {{ useSegmentLength ? 'Length' : 'Stop LED' }}
    </td>
    <td class="segtd">
      Offset
    </td>
  </tr>
  <tr>
    <td class="segtd">
      <input
        class="noslide segn"
        type="number"
        min="0"
        [max]="ledCount - 1"
        [value]="segment.start"
        oninput="updateLen(segment.id)">
    </td>
    <td class="segtd">
      <input
        class="noslide segn"
        type="number"
        min="0"
        [max]="ledCount - (useSegmentLength ? segment.start : 0)"
        [value]="segment.stop - (useSegmentLength ? segment.start : 0)"
        oninput="updateLen(segment.id)">
    </td>
    <td class="segtd">
      <input
        class="noslide segn"
        type="number"
        [value]="segment.of"
        oninput="updateLen(segment.id)">
    </td>
  </tr>
</table>
<table class="infot">
  <tr>
    <td class="segtd">
      Grouping
    </td>
    <td class="segtd">
      Spacing
    </td>
    <td class="segtd">
      Apply
    </td>
  </tr>
  <tr>
    <td class="segtd">
      <input
        class="noslide segn"
        type="number"
        min="1"
        max="255"
        value="segment.grp"
        oninput="updateLen(segment.id)">
    </td>
    <td class="segtd">
      <input
        class="noslide segn"
        type="number"
        min="0"
        max="255"
        value="segment.spc"
        oninput="updateLen(segment.id)">
    </td>
    <td class="segtd">
      <i
        class="e-icon cnf cnf-s"
        onclick="setSeg(segment.id)">
        &#xe390;
      </i>
    </td>
  </tr>
</table>
-->
