@import 'src/app/shared/scss/mixins';

:host {
  width: 100%;
}

.segmentForm {
  @include common-form-base;

  &__row {
    &--topRow {
      // TODO simpler way to do this?
      display: grid;
      grid: auto auto / auto auto;
      justify-content: space-evenly;
      justify-items: center;
      align-content: center;
      align-items: center;
    }
  }

  &__powerButton {
    @include icon-button(36px);
    @include flex-center;
    margin: 8px;

    &__icon {
      font-size: 22px;
    }

    &__input {
      display: none;
    }
  }

  &__brightness {
    ::ng-deep &__input {
      margin: -12px 6px;
    }
  }
}
