@import 'src/app/shared/scss/mixins';

:host {
  width: 100%;
}

.segmentForm {
  width: 100%;

  &__row {
    align-items: center;
    border-top: 1px solid var(--borderColorAccent);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    &--column {
      flex-direction: column;
    }

    &--wrappedRow {
      flex-wrap: wrap;
    }

    & > * {
      margin: 6px;
    }

    & ::ng-deep .mat-button-wrapper {
      @include flex-center;
    }
  }

  &__button {
    @include icon-button(36px);
    @include flex-center;

    &__icon {
      font-size: 22px;
    }
  }

  &__powerButton {
    &__input {
      display: none;
    }
  }

  &__brightness {
    ::ng-deep &__input {
      margin: -12px 6px;
    }
  }

  &__checkboxes {
    @include flex-center;
    flex-direction: column;

    & > * {
      margin: 3px;
      padding: 3px;
    }
  }

  &__numberButtonWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__deleteButton {
  }

  &__applyButton {
  }
}
