@import 'src/app/shared/scss/mixins';

:host {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 1fr;
}

.effects {
  &__searchInput {
    grid-area: 1 / 1 / 2 / 2;
  }

  &__sliders {
    display: flex;
    flex-wrap: wrap;
    grid-area: 2 / 1 / 3 / 2;
    justify-content: space-evenly;
  }

  @at-root ::ng-deep &__slider {
    margin: -12px 0; // TODO is there a better way to control slider height?
  }

  &__list {
    @include radioButtonList;
    grid-area: 4 / 1 / 5 / 2;
  }

  &__radioButton {
    @include radioButtonListItem;

    // background colors
    $normalBackgroundColor: var(--backgroundColorPrimary);
    $hoverBackgroundColor: var(--backgroundColorAccent);
    $selectedBackgroundColor: var(--backgroundColorPrimary);
  
    // text colors
    $normalTextColor: var(--textColorPrimary);
    $hoverTextColor: var(--textColorPrimary);
    $selectedTextColor: var(--themeColorPrimary);

    background: $normalBackgroundColor;
    color: $normalTextColor;
    position: relative;

    &:hover {
      background: $hoverBackgroundColor;
      color: $hoverTextColor;
    }

    &--selected {
      background: $selectedBackgroundColor;
      color: $selectedTextColor;
    }

    &__leftSideBadgeWrapper,
    &__rightSideBadgeWrapper {
      display: flex;
      position: absolute;
      top: 0;
    }

    &__leftSideBadgeWrapper {
      left: 0;
    }

    &__rightSideBadgeWrapper {
      right: 0;
    }

    &__badge {
      border-radius: 3px;
      font-size: 12px;
      margin: 2px;

      &--palettes {
      }

      &--volume {
      }

      &--frequency {
      }

      &--dimension {
      }
    }
  }
}
