<app-search-input
  (searchValueChanges)="filterList($event)"
  [selectedItem$]="getSelectedEffect()"
  headerText="Effects"
  label="Search effects"
  class="effects__searchInput">
  <div class="effects__form">
    <div class="effects__form__section">
      <h2 class="effects__form__sectionTitle">
        Options
      </h2>
      <app-effects-controls
        [effectsForm]="effectsForm">
      </app-effects-controls>
    </div>
    <div class="effects__form__section">
      <h2 class="effects__form__sectionTitle">
        Filters
      </h2>
      <app-effects-filter></app-effects-filter>
    </div>
  </div>
</app-search-input>

<!-- TODO don't show 2d effects if not supported -->
<div class="effects__list__container">
  <div
    [formGroup]="effectsForm"
    class="effects__list">
    <!-- TODO move into own component ("effect") -->
    <label
      *ngFor="let effect of getFilteredEffects() | async"
      [ngClass]="{ 'effects__radioButton--selected': effect.id === effectsForm.get('selectedEffect')!.value }"
      class="effects__radioButton">
      <input
        type="radio"
        formControlName="selectedEffect"
        [value]="effect.id"
        class="effects__radioButton__input">
      <div
        [innerHtml]="getHtmlFormattedEffectName(effect)"
        class="effects__radioButton__text">
      </div>
      <div class="effects__radioButton__badgeWrapper">
        <div
          *ngIf="effect.usesVolume"
          class="effects__radioButton__badge effects__radioButton__badge--volume"
          [ngClass]="{ 'effects__radioButton__badge--selected': getEffectFilters().showVolumeEffects }">
          <span class="material-symbols-outlined">
            music_note
          </span>
        </div>
        <div
          *ngIf="effect.usesFrequency"
          class="effects__radioButton__badge effects__radioButton__badge--frequency"
          [ngClass]="{ 'effects__radioButton__badge--selected': getEffectFilters().showFrequencyEffects }">
          <span class="material-symbols-outlined">
            graphic_eq
          </span>
        </div>
        <div
          *ngIf="effect.usesPalette"
          class="effects__radioButton__badge effects__radioButton__badge--palettes"
          [ngClass]="{ 'effects__radioButton__badge--selected': getEffectFilters().showPalettesEffects }">
          <span class="material-symbols-outlined">
            palette
          </span>
        </div>
        <div
          *ngFor="let dimension of effect.dimensions"
          class="effects__radioButton__badge effects__radioButton__badge--dimension"
          [ngClass]="{ 'effects__radioButton__badge--selected': isDimensionSelected(dimension) }">
          <!-- TODO are icons or text better for dimension? -->
          {{ getNumericDimension(dimension) }}d
          <!-- <span class="material-symbols-outlined">
            {{ getMatIconForDimension(dimension) }}
          </span> -->
        </div>
      </div>
    </label>
  </div>
</div>
