<!-- TODO add filter by effect controls (palette, volume, frequency) -->
<app-search-input
  (searchValueChanges)="filterList($event)"
  [selectedItem$]="getSelectedEffect()"
  headerText="Effects"
  label="Search effects"
  class="effects__searchInput">
  <div class="effects__sliders">
    <app-color-slider
      [control]="effectsForm.get('speed')!"
      [min]="0"
      [max]="255"
      label="Speed"
      sliderClass="effects__slider">
      <!-- TODO icons should! be built into the slider component -->
      <span class="material-symbols-outlined">
        speed
      </span>
    </app-color-slider>
    <app-color-slider
      [control]="effectsForm.get('intensity')!"
      [min]="0"
      [max]="255"
      label="Intensity"
      sliderClass="effects__slider">
      <!-- TODO another button should toggle labels -->
      <!-- (click)="toggleLabels()" -->
      <span
        class="material-symbols-outlined">
        local_fire_department
      </span>
    </app-color-slider>
    <app-effects-filter></app-effects-filter>
  </div>
</app-search-input>

<!-- TODO don't show 2d effects if not supported -->
<div class="effects__list__container">
  <div
    [formGroup]="effectsForm"
    class="effects__list">
    <label
      *ngFor="let effect of getFilteredEffects() | async"
      [ngClass]="{ 'effects__radioButton--selected': effect.id === effectsForm.get('selectedEffect')!.value }"
      class="effects__radioButton">
      <input
        type="radio"
        formControlName="selectedEffect"
        [value]="effect.id"
        class="effects__radioButton__input">
      <span class="effects__radioButton__text">
        {{ effect.name }}
      </span>
      <div class="effects__radioButton__leftSideBadgeWrapper">
        <div
          *ngIf="effect.usesPalette"
          class="effects__radioButton__badge effects__radioButton__badge--palettes">
          {{ '&#x1F3A8;' }}
        </div>
        <div
          *ngIf="effect.usesVolume"
          class="effects__radioButton__badge effects__radioButton__badge--volume">
          {{ '&#9834;' }}
        </div>
        <div
          *ngIf="effect.usesFrequency"
          class="effects__radioButton__badge effects__radioButton__badge--frequency">
          {{ '&#9835;' }}
        </div>
      </div>
      <div class="effects__radioButton__rightSideBadgeWrapper">
        <div class="effects__radioButton__badge effects__radioButton__badge--dimension">
          {{ getNumericDimension(effect) }}
        </div>
      </div>
    </label>
  </div>
</div>
