<form
  [formGroup]="syncSettingsForm"
  class="syncSettingsForm">
  <div>{{ syncSettingsForm.value | json }}</div>
  
  <app-settings-header
    helpUrl="https://kno.wled.ge/features/settings/#sync-settings"
    (save)="submitForm()">
  </app-settings-header>

  <h1>
    Sync Settings
  </h1>

  <!-- TODO (title) "settings" or "config"? -->
  <app-settings-group
    title="Button Config"
    formGroupName="button"
    class="syncSettingsForm__button">
    Button Type
    <select formControlName="type">
      <option
        *ngFor="let option of buttonTypeOptions"
        [value]="option.value">
        {{ option.name }}
      </option>
    </select>

    Infrared Remote
    <select formControlName="irRemote">
      <option
        *ngFor="let option of irRemoteOptions"
        [value]="option.value">
        {{ option.name }}
      </option>
    </select>

    <div>
      <app-external-link
        href="https://github.com/Aircoookie/WLED/wiki/Infrared-Control"
        text="Infrared">
      </app-external-link>
      &nbsp;Info
    </div>
  </app-settings-group>

  <app-settings-group
    title="WLED Broadcast"
    formGroupName="broadcast"
    class="syncSettingsForm__broadcast">

    <app-text-input
      label="UDP Port"
      [inputs]="[udpPortInputConfig]">
    </app-text-input>

    <app-text-input
      label="2nd Port"
      [inputs]="[secondPortInputConfig]">
    </app-text-input>

    <div formGroupName="receive">
      Receive:
      <app-checkbox
        [control]="getFormControl('broadcast.receive.brightness')"
        label="Brightness">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('broadcast.receive.color')"
        label="Color">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('broadcast.receive.effects')"
        label="Effects">
      </app-checkbox>
    </div>

    <div formGroupName="notify">
      <app-checkbox
        [control]="getFormControl('broadcast.notify.onDirectChange')"
        label="On direct change">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('broadcast.notify.onButtonPressOrIr')"
        label="On button press or IR">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('broadcast.notify.alexa')"
        label="On Alexa notifications">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('broadcast.notify.philipsHue')"
        label="On Philips Hue notifications">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('broadcast.notify.macro')"
        label="On Macro notifications">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('broadcast.notify.sendTwice')"
        label="Send notifications twice">
      </app-checkbox>

      <div>
        Reboot required to apply changes.
      </div>
    </div>
  </app-settings-group>

  <app-settings-group
    title="Device List"
    formGroupName="deviceList"
    class="syncSettingsForm__instanceList">
    <app-checkbox
      [control]="getFormControl('deviceList.enable')"
      label="Enable device list">
    </app-checkbox>
    <app-checkbox
      [control]="getFormControl('deviceList.isThisInstanceDiscoverable')"
      label="Make this device discoverable">
    </app-checkbox>
  </app-settings-group>

  <app-settings-group
    title="Realtime Sync"
    formGroupName="realTime"
    class="syncSettingsForm__realTime">
    <app-checkbox
      [control]="getFormControl('realTime.receiveUdpRealTime')"
      label="Receive UDP realtime">
    </app-checkbox>

    <div>
      Network DMX input
    </div>

    Type
    <select formControlName="dmxType">
      <option
        *ngFor="let option of dmxTypeOptions"
        [value]="option.value">
        {{ option.name }}
      </option>
    </select>

    <app-checkbox
      [control]="getFormControl('realTime.multicast')"
      label="Multicast">
    </app-checkbox>

    <app-text-input
      label="Start Universe"
      [inputs]="[startUniverseInputConfig]">
    </app-text-input>

    <div>
      <p>
        Reboot required.
      </p>
      <p>
        <app-external-link
          href="https://github.com/LedFx/LedFx"
          text="LedFx">
        </app-external-link>
        &nbsp;Info
      </p>
    </div>

    <app-checkbox
      [control]="getFormControl('realTime.skipOutOfSequencePackets')"
      label="Skip out-of-sequence packets">
    </app-checkbox>

    <app-text-input
      label="DMX Start Address"
      [inputs]="[dmxStartAddressInputConfig]">
    </app-text-input>

    DMX Mode
    <select formControlName="dmxMode">
      <option
        *ngFor="let option of dmxModeOptions"
        [value]="option.value">
        {{ option.name }}
      </option>
    </select>

    <div>
      <p>
        <app-external-link
          href="https://github.com/Aircoookie/WLED/wiki/E1.31-DMX"
          text="E1.31">
        </app-external-link>
        &nbsp;Info
      </p>
    </div>

    <app-text-input
      label="Timeout (ms)"
      [inputs]="[timeoutMsInputConfig]">
    </app-text-input>

    <app-checkbox
      [control]="getFormControl('realTime.forceMaxBrightness')"
      label="Force Max Brightness">
    </app-checkbox>

    <app-checkbox
      [control]="getFormControl('realTime.disableGammaCorrection')"
      label="Disable realtime gamma correction">
    </app-checkbox>

    <app-text-input
      label="Realtime LED offset"
      [inputs]="[ledOffsetInputConfig]">
    </app-text-input>
  </app-settings-group>

  <app-settings-group
    title="Alexa"
    formGroupName="alexaConfig"
    class="syncSettingsForm__alexaConfig">
    <!-- TODO better label wording -->
    <!-- TODO what does this actually do/affect? -->
    <app-checkbox
      [control]="getFormControl('alexaConfig.emulateDevice')"
      label="Emulate Alexa device">
    </app-checkbox>

    <app-text-input
      label="Device name for Alexa"
      [inputs]="[alexaInvocationNameInputConfig]">
    </app-text-input>
  </app-settings-group>

  <app-settings-group>
    <p>
      Blynk, MQTT and Hue sync all connect to external hosts!
    </p>
    <p>
      This may impact the responsiveness of the ESP8266.
    </p>
    <p>
      For best results, only use one of these services at a time.
    </p>
    <p>
      Alternatively, connect a second ESP to them and use the UDP sync.
    </p>
  </app-settings-group>

  <app-settings-group
    title="Blynk"
    formGroupName="blynkConfig"
    class="syncSettingsForm__blynkConfig">

    <app-text-input
      label="Host"
      [inputs]="[blynkHostInputConfig]">
    </app-text-input>

    <app-text-input
      label="Port"
      [inputs]="[blynkPortInputConfig]">
    </app-text-input>

    <app-text-input
      label="Device Auth Token"
      [inputs]="[blynkDeviceAuthTokenInputConfig]">
    </app-text-input>

    <div>
      <p>
        Clear the token field to disable.
      </p>
      <p>
        <app-external-link
          href="https://github.com/Aircoookie/WLED/wiki/E1.31-DMX"
          text="Blynk">
        </app-external-link>
        &nbsp;Info
      </p>
    </div>
  </app-settings-group>

  <app-settings-group
    title="MQTT"
    formGroupName="mqttConfig"
    class="syncSettingsForm__mqttConfig">
    <app-checkbox
      [control]="getFormControl('mqttConfig.enable')"
      label="Enable">
    </app-checkbox>

    <app-text-input
      label="Broker"
      [inputs]="[mqttBrokerInputConfig]">
    </app-text-input>

    <app-text-input
      label="Port"
      [inputs]="[mqttPortInputConfig]">
    </app-text-input>

    <app-text-input
      label="Username"
      [inputs]="[mqttUsernameInputConfig]">
    </app-text-input>

    <app-text-input
      label="Password"
      [inputs]="[mqttPasswordInputConfig]">
    </app-text-input>

    <app-text-input
      label="Client ID"
      [inputs]="[mqttClientIdInputConfig]">
    </app-text-input>

    <app-text-input
      label="Device Topic"
      [inputs]="[mqttDeviceTopicInputConfig]">
    </app-text-input>

    <app-text-input
      label="Group Topic"
      [inputs]="[mqttGroupTopicInputConfig]">
    </app-text-input>

    <div>
      <p>
        Reboot required to apply changes.
      </p>
      <p>
        <app-external-link
          href="https://github.com/Aircoookie/WLED/wiki/E1.31-DMX" 
          text="MQTT">
        </app-external-link>
        &nbsp;Info
      </p>
    </div>
  </app-settings-group>

  <app-settings-group
    title="Philips Hue"
    formGroupName="philipsHueConfig"
    class="syncSettingsForm__philipsHueConfig">

    <app-checkbox
      [control]="getFormControl('philipsHueConfig.enable')"
      label="Enable">
    </app-checkbox>

    <app-text-input
      label="Hue Bridge IP Address"
      [inputs]="[hueBridgeIpAddressInputConfig]">
    </app-text-input>

    <app-text-input
      label="Poll Hue Light"
      [inputs]="[huePollLightIdInputConfig]">
    </app-text-input>
    
    <app-text-input
      label="Poll Interval (ms)"
      [inputs]="[huePollIntervalMsInputConfig]">
    </app-text-input>

    <div formGroupName="receive">
      Receive:
      <app-checkbox
        [control]="getFormControl('philipsHueConfig.receive.onOff')"
        label="On/Off">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('philipsHueConfig.receive.brightness')"
        label="Brightness">
      </app-checkbox>
      <app-checkbox
        [control]="getFormControl('philipsHueConfig.receive.color')"
        label="Color">
      </app-checkbox>
    </div>

    <div>
      <p>
        First time connecting: press the button on the Hue bridge, then save this page!
      </p>
      <p>
        <!-- TODO get hue status from API -->
        Hue status: Inactive
      </p>
    </div>
  </app-settings-group>

  <app-settings-footer (save)="submitForm()"></app-settings-footer>
</form>
