$buttonDimension: 42px;

.colorSlots {
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  max-width: 150px;
  padding: 8px;

  &__slot {
    border: 1px solid black;
    border-radius: 6px;
    margin: 3px;
    max-height: $buttonDimension;
    max-width: $buttonDimension;
    min-height: $buttonDimension;
    min-width: $buttonDimension;
    outline: 0;

    &:hover {
      cursor: pointer;
    }

    &--selected {
      border: 3px solid gray;
    }
  }
}
