@import 'src/app/shared/scss/mixins';

:host {
  margin: 5px 3px;
}

.checkboxContainer {
  background: rgba(
    var(--errorColorAccentRgb),
    var(--form-control-background-opacity-default),
  );
  border: 1px solid rgba(
    var(--errorColorPrimaryRgb),
    var(--form-control-border-opacity-default),
  );
  border-radius: 4px;
  
  cursor: pointer;
  display: flex;
  padding: 4px 10px;
  margin: 6px;

  &:hover {
    background: rgba(
      var(--errorColorAccentRgb),
      var(--form-control-background-opacity-emphasized),
    );
    border: 1px solid rgba(
      var(--errorColorPrimaryRgb),
      var(--form-control-border-opacity-emphasized),
    );
  }

  &--selected {
    background: rgba(
      var(--themeColorAccentRgb),
      var(--form-control-background-opacity-default),
    );
    border: 1px solid rgba(
      var(--themeColorPrimaryRgb),
      var(--form-control-border-opacity-default),
    );

    &:hover {
      background: rgba(
        var(--themeColorAccentRgb),
        var(--form-control-background-opacity-emphasized),
      );
      border: 1px solid rgba(
        var(--themeColorPrimaryRgb),
        var(--form-control-border-opacity-emphasized),
      );
    }
  }
}
