/* You can add global styles to this file, and also import other style files */

@import 'src/app/shared/scss/fonts';
@import 'src/app/shared/scss/icons';
@import 'src/app/shared/scss/material-theme';
@import 'src/app/shared/scss/mixins';
@import 'src/app/shared/scss/variables';

// TODO add normalize.scss or similar

* {
  box-sizing: border-box;
}

html,
body {
  @include mobileSafariViewportHeightFix;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html {
  background: var(--backgroundColorPrimary);
  color: var(--textColorPrimary);
}

.material-symbols-outlined {
  user-select: none;
}
