/* You can add global styles to this file, and also import other style files */

@import 'src/app/shared/scss/icons';
@import 'src/app/shared/scss/material-theme';
@import 'src/app/shared/scss/variables';

// TODO add normalize.scss or similar

* {
  box-sizing: border-box;
}

html {
  background: var(--backgroundColorPrimary);
  color: var(--textColorPrimary);
}

body {
  margin: 0;
  padding: 0;
}
