<div
  [formGroup]="uiSettingsForm"
  class="uiSettingsForm">
  <div>{{ uiSettingsForm.value | json }}</div>

  <app-settings-header
    helpUrl="https://kno.wled.ge/features/settings/#user-interface-settings"
    (save)="submitForm()">
  </app-settings-header>

  <h1>
    UI Settings
  </h1>

  <app-settings-group title="Web Config">
    <app-text-input
      label="Server Name"
      [inputs]="[serverNameInputConfig]">
    </app-text-input>

    <mat-radio-group aria-label="Toggle receive with send">
      <mat-radio-button value="true">
        Control both send and receive with Sync button
      </mat-radio-button>
      <mat-radio-button value="false">
        Control only send with Sync button
      </mat-radio-button>
    </mat-radio-group>
  </app-settings-group>

  <app-settings-group>
    <div>
      The following UI customization settings are unique both to the WLED device and this browser.
    </div>
    <div style="font-style:italic">
      You will need to set them again if using a different browser, device, or WLED IP address.
    </div>
  </app-settings-group>

  <app-settings-group
    title="Color Inputs"
    formGroupName="showColorInputs">
    <app-checkbox
      *ngFor="let checkbox of colorInputCheckboxes"
      [control]="getFormControl('showColorInputs.' + checkbox.name)"
      [label]="checkbox.label"
      class="uiSettingsForm__checkbox">
    </app-checkbox>
  </app-settings-group>

  <app-settings-group title="Appearance">
    <app-checkbox
      [control]="getFormControl('showLabels')"
      label="Show button labels on top and bottom menu bars"
      class="uiSettingsForm__checkbox">
    </app-checkbox>

    <app-checkbox
      [control]="getFormControl('showPresetIds')"
      label="Show preset IDs"
      class="uiSettingsForm__checkbox">
    </app-checkbox>

    <app-checkbox
      [control]="getFormControl('useSegmentLength')"
      label="Set segment length instead of stop LED"
      class="uiSettingsForm__checkbox">
    </app-checkbox>

    <app-checkbox
      [control]="getFormControl('isDarkMode')"
      label="Dark mode"
      class="uiSettingsForm__checkbox">
    </app-checkbox>

    <!-- TODO replace with slider -->
    <app-text-input
      label="Background Opacity"
      [inputs]="[backgroundOpacityInputConfig]">
    </app-text-input>

    <!-- TODO replace with slider -->
    <app-text-input
      label="Button Opacity"
      [inputs]="[buttonOpacityInputConfig]">
    </app-text-input>

    <app-text-input
      label="Background hex color"
      [inputs]="[backgroundHexInputConfig]">
    </app-text-input>

    <app-text-input
      label="Background image URL"
      [inputs]="[backgroundImageInputConfig]">
    </app-text-input>

    <app-checkbox
      [control]="getFormControl('useRandomBackgroundImage')"
      label="Use random background image"
      class="uiSettingsForm__checkbox">
    </app-checkbox>

    <app-checkbox
      [control]="getFormControl('useCustomCss')"
      label="Use custom CSS file"
      class="uiSettingsForm__checkbox">
    </app-checkbox>

    <!-- TODO file inputs seem to have been removed from WLED app?? -->

    <!-- https://github.com/angular/components/issues/17922 -->
    <!-- ng material doesn't support file input yet -->
    <input
      type="file"
      formControlName="customCssFile"
      class="uiSettingsForm__fileInput">

    <app-checkbox
      [control]="getFormControl('enableHolidays')"
      label="Use holiday backgrounds"
      class="uiSettingsForm__checkbox">
    </app-checkbox>

    <!-- https://github.com/angular/components/issues/17922 -->
    <!-- ng material doesn't support file input yet -->
    <input
      type="file"
      formControlName="holidaysFile"
      class="uiSettingsForm__fileInput">
  </app-settings-group>

  <app-settings-footer (save)="submitForm()"></app-settings-footer>
</div>
