<form
  [formGroup]="wifiSettingsForm"
  class="wifiSettingsForm">
  <div>{{ wifiSettingsForm.value | json }}</div>
  
  <!-- TODO save button should say "Save & Connect" -->
  <app-settings-header (save)="submitForm()"></app-settings-header>

  <h2>Wifi Settings</h2>

  <div formGroupName="localNetwork">
    <h3>Connect to Network</h3>
    <i>Leave SSID empty to not connect</i>
    <br>
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>SSID (Network Name)</mat-label>
      <input
        matInput
        formControlName="ssid"
        maxlength="32"
        class="">
    </mat-form-field>
    <br>
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        maxlength="63"
        class="">
    </mat-form-field>
  </div>

  <div formGroupName="ipAddress">
    <i>Leave at 0.0.0.0 for DHCP</i>
    <br>
    <!-- TODO Add text mask/validation for IP address -->
    <!-- TODO create IP address input component? -->
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>Static IP</mat-label>
      <input
        matInput
        formControlName="staticIp"
        class="">
    </mat-form-field>
    <!-- <input name="I0" type="number" class="s" min="0" max="255" required> .
      <input name="I1" type="number" class="s" min="0" max="255" required> . <input name="I2" type="number" class="s" min="0" max="255" required> . <input name="I3" type="number" class="s" min="0" max="255" required> -->
    <br>
    <br>
    <!-- TODO Add text mask for IP address -->
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>Static gateway</mat-label>
      <input
        matInput
        formControlName="staticGateway"
        class="">
    </mat-form-field>
    <!-- <input name="G0" type="number" class="s" min="0" max="255" required> . <input name="G1" type="number" class="s" min="0" max="255" required> . <input name="G2" type="number" class="s" min="0" max="255" required> .
      <input name="G3" type="number" class="s" min="0" max="255" required> -->
    <br>
    <br>
    <!-- TODO Add text mask for IP address -->
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>Static subnet mask</mat-label>
      <input
        matInput
        formControlName="staticSubnetMask"
        class="">
    </mat-form-field>
    <!-- <input name="S0" type="number" class="s" min="0" max="255" required> . <input name="S1" type="number" class="s" min="0" max="255" required> . <input name="S2" type="number" class="s" min="0" max="255" required> . <input name="S3" type="number" class="s" min="0" max="255" required> -->
    <br>
    <div>mDNS address</div>
    <div>
      <i>Leave empty for no mDNS</i>
    </div>
    <br>
    http://
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>mDNS</mat-label>
      <input
        matInput
        formControlName="mDNS"
        maxlength="32"
        class="">
    </mat-form-field>
    .local
    <br>
    <!-- TODO wire this up -->
    Client IP: <span class="sip">Not connected</span>
  </div>

  <h3>Configure Access Point</h3>
  <div formGroupName="wledAccessPoint">
    <div>
      <i>Leave empty for no AP</i>
    </div>
    <br>
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>AP SSID</mat-label>
      <input
        matInput
        formControlName="ssid"
        maxlength=32
        class="">
    </mat-form-field>
    <br>
    <mat-checkbox
      formControlName="hideAPName"
      class="">
      Hide AP name
    </mat-checkbox>
    <br>
    <div>
      <i>Leave empty for open</i>
      <i>Empty or min. 8 characters</i>
    </div>
    <br>
    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>AP password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        maxlength="63"
        pattern="(.{8,63})|()"
        class="">
    </mat-form-field>
    <br>

    <mat-form-field
      appearance="fill"
      class="">
      <mat-label>Access Point WiFi channel</mat-label>
      <input
        matInput
        type="number"
        formControlName="wifiChannel"
        min="1"
        max="13"
        class="">
    </mat-form-field>
    <br>
    
    AP opens:
    <select formControlName="openAP">
      <option
        *ngFor="let option of openAPOptions"
        [value]="option.value">
        {{ option.name }}
      </option>
    </select>
    
    <br>
    <i>
      <!-- TODO wire this up -->
      AP IP: <span class="sip">Not active</span>
    </i>
    <br>
  </div>

  <div formGroupName="other">
    <h3>Other</h3>
    <mat-checkbox
      formControlName="disableWifiSleep"
      class="">
      Disable WiFi sleep
    </mat-checkbox>
    <br>
    <i>
      Experimental: Can help with connectivity issues.
      <br>
      Do not enable if WiFi is working correctly, increases power consumption.
    </i>
    <br>
    <br>
    <ng-container *ngIf="hasEthernet">
      <div>Ethernet Type</div>
      <select formControlName="ethernetType">
        <option
          *ngFor="let ethernetType of ethernetTypes"
          [value]="ethernetType.value">
          {{ ethernetType.name }}
        </option>
      </select>
    </ng-container>
    <br>
    <br>
  </div>

  <!-- TODO save button should say "Save & Connect" -->
  <app-settings-footer (save)="submitForm()"></app-settings-footer>
</form>
