<div class="effects">
  <div class="effects__sliders">
    <p class="labels">
      Effect speed
    </p>
    <div class="staytop">
      <i class="icons slider-icon">
        &#xe325;
      </i>
      <!-- TODO these used to show value in a toast above while sliding, I'm thinking not keep that -->
      <app-color-slider
        [control]="effectsForm.get('speed')!"
        [min]="0"
        [max]="255"
        class="noslide">
      </app-color-slider>
    </div>
    <p class="labels">
      Effect intensity
    </p>
    <div
      class="staytop"
      id="staytop1">
      <i
        class="icons slider-icon"
        (click)="toggleLabels()">
        &#xe409;
      </i>
      <!-- TODO these used to show value in a toast above while sliding, I'm thinking not keep that -->
      <app-color-slider
        [control]="effectsForm.get('intensity')!"
        [min]="0"
        [max]="255"
        class="noslide">
      </app-color-slider>
    </div>
    <p class="labels">
      Effect mode
    </p>

    <app-search-input></app-search-input>
  </div>

  <div
    [formGroup]="effectsForm"
    class="effects__list">
    <div
      *ngFor="let effect of getEffects()"
      class="effects__radioButton lstI btn fxbtn">
      <label class="radio fxchkl">
        <!-- TODO [urgent fix] form control value is not updated by radio buttons -->
        <input
          type="radio"
          formControlName="selectedEffect"
          [value]="effect.id">
        <!-- <span class="radiomark"></span> -->
        <span class="lstIname">
          {{ effect.name }}
        </span>
      </label>
    </div>
  </div>
</div>
