:host {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bottomMenuBar {
  &__button {
    align-items: center;
    border: 0;
    color: var(--textColorAccent);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 100%;
    justify-content: center;
    padding: 4px;
    text-decoration: none;
    width: 25%;

    &:hover {
      color: var(--themeColorPrimary);
    }

    &--selected {
      color: var(--textColorPrimary) !important; // prevent hover style on selected link
    }

    &__icon {
      font-size: 28px;
    }

    &__text {
    }
  }
}
