@import 'src/app/shared/scss/rainbow';

:host {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bottomMenuBar {
  &__button {
    align-items: center;
    border: 0;
    color: var(--textColorAccent);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 100%;
    justify-content: center;
    padding: 12px 0;
    text-decoration: none;
    width: 25%;

    &:hover {
      color: var(--themeColorPrimary);
    }

    &--selected {
      color: var(--textColorPrimary) !important; // prevent hover style on selected link

      & .bottomMenuBar__button__text {
        text-decoration: underline;
      }

      & .bottomMenuBar__button__icon {
        @include rainbow(color);
      }
    }

    &__text {
      user-select: none;
    }
  }
}
