@import 'src/app/shared/scss/mixins';

.colorInputs {
  &__header {
    margin-bottom: 12px;
    text-align: center;
  }

  &__colorSlots {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__container {
    display: flex;
    flex-basis: min-content;
    margin: 0 auto;

    > * {
      @include flex-center;
      flex-basis: min-content;
      padding: 10px;
    }
  
    > *:not(:last-child) {
      border-right: 1px solid var(--borderColorAccent);
    }
  
    & ::ng-deep app-color-slider {
      $margin: 6px;
      margin-left: $margin;
      margin-right: $margin;
    }
  
    & ::ng-deep .colorSlider__input {
      min-height: 100px;
    }
  }
}
