:host {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.colorInputs {
  &__container {
    display: flex;
    flex-basis: min-content;
    margin: 0 auto;

    > * {
      flex-basis: min-content;
      display: flex;
      padding: 10px;
    }
  
    > *:not(:last-child) {
      border-right: 1px solid var(--borderColorAccent);
    }
  
    & ::ng-deep app-color-slider {
      $margin: 6px;
      margin-left: $margin;
      margin-right: $margin;
    }
  
    & ::ng-deep .colorSlider__input {
      min-height: 100px;
    }
  }
}
