:host {
  display: flex;
  overflow-x: auto;
  width: 100%;

  > * {
    display: flex;
    padding: 10px;
  }

  > *:not(:last-child) {
    border-right: 1px solid var(--borderColorAccent);
  }

  > :first-child {
    margin-left: auto;
  }

  > :last-child {
    margin-right: auto;
  }

  & ::ng-deep app-color-slider {
    $margin: 6px;
    margin-left: $margin;
    margin-right: $margin;
  }

  & ::ng-deep .colorSlider__input {
    min-height: 100px;
  }
}
