@import 'src/app/shared/scss/mixins';

.settings {
  // TODO move shared properties to app element scss?
  background: var(--backgroundColorPrimary);
  color: var(--textColorPrimary);
  height: 100vh;
  width: 100vw;

  &__content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    height: 100vh;

    & router-outlet + ::ng-deep * {
      overflow-y: auto;
    }
  }

  &__toolbar,
  &__menuButton {
    background: #7c4dff; // TODO get from material theme
    color: var(--textColorPrimary);
  }

  &__menuButton {
    @include cursorPointerOnHover();
    border: 1px solid var(--borderColorPrimary);
    border-radius: 6px;
    outline: 0;
  }

  &__menuButtonText {
    margin-left: 12px;
  }

  &__links {
    list-style-type: none;
  }

  &__links {
    background: var(--backgroundColorPrimary);
    margin: 0 auto;
    padding: 0;
  }

  &__linkWrapper {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid var(--borderColorAccent);
    }
  }

  &__link {
    color: var(--textColorPrimary);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      background: var(--backgroundColorAccent);
    }

    &--active {
      font-weight: bold;
    }
  }
}
