@import 'src/app/shared/scss/mixins';

// TODO get from material theme
$materialThemeColor: #7c4dff;

:host {
  @include main-view-container;
  padding: 0;
}

.settings {
  border-radius: 6px;
  max-height: 100%;
  max-width: 100%;
  // TODO: should NOT have this here but on "__scrollableContent"
  overflow: auto;

  &__drawer {
    background: transparent;
  }

    // TODO make only content scrollable, not including settings toolbar
  &__content {
    background: var(--backgroundColorPrimary);
    color: var(--textColorPrimary);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto minmax(0, 1fr);
    overflow: auto;
  }

  &__toolbar {
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    background: $materialThemeColor;
    color: var(--textColorPrimary);
    display: flex;
    justify-content: space-between;

    &__left {
      align-items: center;
      display: flex;
    }
  }

  &__menuButton {
    align-items: center;
    border: 1px solid var(--borderColorPrimary);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: 0;
  }

  &__title {
    color: inherit;
    margin-left: 12px;
  }

  &__scrollableContent {
    grid-area: 2 / 1 / 3 / 2;
    max-height: 100%;
    overflow: auto;
  }

  &__nav {
    font-size: 1.5rem;
    margin: 0 auto;
    width: max-content;

    // appearance in main settings page only
    .settings__content ::ng-deep & {
      padding: 10px;
    }
  }

  &__links {
    background: var(--backgroundColorPrimary);
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

  &__linkWrapper {
    display: flex;

    // appearance in drawer only
    .settings__drawer ::ng-deep &:not(:last-child) {
      border-bottom: 1px solid var(--borderColorAccent);
    }
  }

  &__link {
    color: var(--textColorPrimary);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    // appearance in main settings page only
    .settings__content ::ng-deep & {
      border: 1px solid var(--borderColorPrimary);
      border-radius: 6px;
      padding: 10px;
      margin: 10px;
    }

    &:hover {
      background: var(--backgroundColorAccent);
    }

    &--active {
      background: $materialThemeColor;
    }
  }
}
