<mat-drawer-container class="settings">
  <mat-drawer
    #drawer
    (click)="closeDrawer(drawer)"
    mode="over"
    class="settings__drawer">
    <nav class="settings__nav">
      <ul class="settings__links">
        <li
          *ngFor="let link of links"
          class="settings__linkWrapper">
          <a
            [routerLink]="['./', link.path]"
            (click)="onLinkClick(drawer, $event)"
            routerLinkActive="settings__link--active"
            class="settings__link">
            {{ link.name }}
          </a>
        </li>
      </ul>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="settings__content">
    <mat-toolbar class="settings__toolbar">
      <div class="settings__toolbar__left">
        <button
          mat-icon-button
          (click)="drawer.open()"
          class="settings__menuButton"
          aria-label="Open navigation menu">
          <span class="material-symbols-outlined">
            menu
          </span>
        </button>
        <a
          routerLink="/controls/settings"
          class="settings__title">
          WLED Settings
        </a>
      </div>
    </mat-toolbar>

    <div class="settings__scrollableContent">
      <nav
        *ngIf="!routerOutlet.isActivated"
        class="settings__nav">
        <ul class="settings__links">
          <li
            *ngFor="let link of links"
            class="settings__linkWrapper">
            <a
              [routerLink]="['./', link.path]"
              routerLinkActive="settings__link--active"
              class="settings__link">
              {{ link.name }}
            </a>
          </li>
        </ul>
      </nav>
  
      <router-outlet
        #routerOutlet="outlet"
        hidden>
      </router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
