@import 'src/app/shared/scss/mixins';

.settings {
  &__nav {
    display: flex;
  }

  &__links {
    list-style-type: none;
  }

  &__links {
    border: 1px solid var(--borderColorPrimary);
    border-radius: 6px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }

  &__linkWrapper {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid var(--borderColorAccent);
    }
  }

  &__link {
    color: var(--textColorPrimary);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      background: var(--backgroundColorAccent);
    }

    &--active {
      font-weight: bold;
    }
  }
}
